<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
    <meta charset="UTF-8">
    <th:block layout:fragment="content" th:each="member : ${memberdto}">
    <link th:href="@{/css/employee/document/bin.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
        <section>
        	<div id="mem_no" style="display: none;" th:text="${member.member_no}"></div>
        	<div id="dept_no" style="display: none;" th:text="${member.department_no}"></div>
        	<div id="title">        	
	        	<h1>휴지통</h1>     
        	</div>
            <div class="document_folder_list">
                <div class="document_folder_tree">
	                <div class="box_size" style="display: none">
	                	<div class="current_size_percent">                		
	                		<img src="/img/cloud.png" id="cloud">
	                		<div id="print_size"></div>
	                	</div>
	                	<div class="size_bar">
		                	<div id="bar_background">
		                		<div id="bar_foreground"></div>
		                	</div>
	                	</div>
	                	<div id="current_size_text"></div>
	                </div>
                </div>
                <hr>
                <div class="document_file_div">
	                <div class="document_file_list" style="display: none;">
	                	<div class="document_search">
	                		<div class="search_range">
	                			<div id="range">기간</div>   
	                			<div class="range_calendar">
	                				<input type="date" id="start_date">
	                				<span id="wave">~</span>
	                				<input type="date" id="end_date">
	                			</div>       
	                		</div>
	                		<div class="search_name">
	                			<div id="file_name">파일명</div>  
	                			<input type="text" id="file_name_input" placeholder="파일명을 입력하세요."> 
	                			<input type="button" id="search_button" value="검색">
	                		</div> 		
	                	</div>
	                	<div class="upper_list_div">
	                		<div class="select_button">
	                			<input type="button" id="select_delete" value="선택 영구 삭제"> 
	                		</div>
	                		<div class="upload_and_sort">
	                			<input type="button" id="update_button" value="선택 복구">
	                			<select id="sort_select">
	                				<option value="latest">최신순</option>
	                				<option value="oldest">과거순</option>
	                			</select>
	                		</div>
	                	</div>
	                	<table class="file_table">
	                		<thead class="table_head">
	                            <tr>
	                            	<th style="width: 5%"><input type="checkbox" id="select_all"></th>
	                                <th style="width: 40%">파일명</th>
	                                <th style="width: 10%">문서함</th>
	                                <th style="width: 15%">삭제일</th>
	                                <th style="width: 12%">용량</th>
	                                <th style="width: 8%">복구</th>
	                                <th style="width: 10%">영구 삭제</th>
	                            </tr>
	                        </thead>
	                        <tbody id="file_table_body">
	                            <!-- 리스트는 AJAX로 불러옴 -->
	                        </tbody>
	                        <tfoot id="table_foot">
	                            <tr>
	                                <td colspan="7">
	                                    <div class="pagination" id="pagination">
	                                        <!-- 페이지 버튼 ajax -->
	                                    </div>
	                                </td>
	                            </tr>
	                        </tfoot>
	                	</table>
	                </div>
                </div>
        	</div>
        </section>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    	<script src="/js/employee/document/bin.js"></script>
    </th:block>
</html>
