<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}"> 
    <th:block layout:fragment="content"> 
        <link th:href="@{/css/admin/organization/organizationChart.css}" rel="stylesheet" type="text/css">  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
        <link rel="stylesheet" href="/jstree/themes/proton/style.min.css">
        <section>
            <button id="openChart" class="btn btn-primary">조직도</button>
            
            <div class="permission_pick_list">
            
            </div>
        </section>

		<!-- 조직도 모달 -->
		<div class="modal" id="organizationChartModal" tabindex="-1" role="dialog" aria-labelledby="organizationChartModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
						<div class="modal-header">
							<div class="organizationchart_title" id="organizationChartModalLabel">조직도</div>
							<span class="chart_close" data-dismiss="modal" aria-label="Close">&times;</span>
						</div>
						<div class="modal-body">
							<!-- 선택된 사원 출력 -->
							<div id="selected-members"></div>

							<!-- 검색  -->
							<input type="text" id="organization_search" placeholder="검색어를 입력하세요." class="organization_search">

							<div id="organization-chart"></div>

							<button id="confirmButton" type="submit" class="modal_btn">확인</button>
						</div>
					</form>
				</div>
			</div>
		</div>

        <script th:src="@{/js/admin/organization/organizationChart.js}"></script>
    </th:block>
</html>
