<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조직도</title>
    jstree CSS
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
    jQuery
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    jstree JS
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
</head>
<body>
    <div id="organization-chart"></div>

    <script>
        $(function() {
            $('#organization-chart').jstree({
                'core': {
                    'data': {
                        'url': '/api/organization/chart',  
                        'data': function(node) {
                            return { 'id': node.id };
                        }
                    }
                },
                'plugins': ['checkbox', 'types'],
                'types': {
                    'default': {
                        'icon': 'fa fa-folder'
                    },
                    'file': {
                        'icon': 'fa fa-file'
                    }
                }
            });
        });
        
        $(document).ready(function() {
            // 모달을 여는 버튼 클릭 이벤트
            $('#openModal').click(function() {
                $('#organizationChartModal').modal('show');
            });

            // 모달 닫기 버튼 클릭 이벤트
            $('.close').click(function() {
                $('#createModal').hide();
            });
        });

    </script>
</body>
</html>
 -->