<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}"> 
<th:block layout:fragment="content">
<link th:href="@{/css/admin/organization/positionList.css}" rel="stylesheet" type="text/css"> 
        <section>
            <div class="container">
                <div class="content-wrapper">
                    <div class="list">
                        <div class="list-header">
                            <h2>직위 목록</h2>
                            <button id="openModal">직위 등록</button>
                        </div>
                        <div class="position_comment">직위를 선택하여 상세 정보를 확인하세요.</div>
                        <ul class="position_ul">
                            <th:block th:each="position : ${positions}">
                                <li class="position_li">
                                    <a th:href="@{/position(id=${position.position_no})}" th:text="${position.position_name}"></a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="details" th:if="${position}">
                        <div class="details-header">
                            <h2>직위 정보</h2>
                        </div>
                        <div class="details-content">
                            <p><strong>직위명</strong> <span class="th_text1" th:text="${position.position_name}"></span></p>
                            <p><strong>상위 직위명</strong> <span class="th_text2" th:text="${position.position_high_name}"></span></p>
                        </div>
                        <div class="details-actions">
                            <button id="deleteButton" th:data-position-id="${position.position_no}">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 등록 모달 -->
        <div id="createModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="modal-title">직위 등록</h2>
                <form id="positionForm">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <label for="positionName">직위명</label>
                    <input type="text" id="positionName" name="positionName" required>
                    
                    <label for="positionHigh">상위 직위</label>
                    <select id="positionHigh" name="positionHigh">
                        <option value="0">선택 없음</option>
                        <th:block th:each="pos : ${topLevelPositions}">
                            <option th:value="${pos.position_no}" th:text="${pos.position_name}"></option>
                        </th:block>
                    </select>
                    
                    <button class="modal_btn" type="submit">등록</button>
                </form>
            </div>
        </div>
        <script th:src="@{/js/admin/organization/positionList.js}"></script>
    </th:block>
</html>

