<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
    <th:block layout:fragment="content">
        <link th:href="@{/css/employee/meeting/reservationDetail.css}" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
        <section>
            <h1>회의 상세 정보</h1>
            <div class="reservation_detail">
                <p><strong>회의실명</strong> <span th:text="${reservation.meeting_name}"></span></p>
                <p><strong>예약 날짜</strong> <span th:text="${reservation.meeting_reservation_date}"></span></p>
                <p><strong>예약 시간</strong> 
                    <span th:text="${reservation.meeting_reservation_start_time}"></span> ~ 
                    <span th:text="${reservation.meeting_reservation_end_time}"></span>
                </p>
                <p><strong>예약자</strong> <span th:text="${reservation.member_name} + ' ' + ${reservation.position_name}"></span></p> 
                <p><strong>목적</strong> <span th:text="${reservation.meeting_reservation_purpose}"></span></p>
                <p><strong>참여자 목록</strong></p>
                <ul>
                    <li th:each="participant : ${participants}" th:text=" ${participant.departmentName} + ' ' + ${participant.memberName}  + ' ' + ${participant.positionName}"></li>
                </ul>
                
               	<div th:if="${reservation.member_no == memberdto.member_no}">
                 	<button type="button" id="editReservationButton" th:data-reservation-no="${reservation.meeting_reservation_no}">수정</button> 
                    <button type="button">예약 취소</button>
                </div>
            </div>
        </section>
        
        <!-- 수정 모달 -->
        <div id="reservationModal" class="modal" data-backdrop="static">
            <div class="modal-content">
                <span class="close" id="reservation_close">&times;</span>
                <h2>회의실 예약 수정</h2>
                <form id="reservationForm">
                    <input type="hidden" id="memberNo" name="member_no" th:value="${memberdto.member_no}"/>
                    <input type="hidden" id="memberName" name="member_name" th:value="${memberdto.member_name}"/>
                    <input type="hidden" id="memberPosition" name="member_position_no" th:value="${memberdto.position_name}"/> 
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <input type="hidden" id="reservationId" name="reservation_id" th:value="${reservation.meeting_reservation_no}" />
                    <div class="reservation_row">
                        <label for="reservation_room">회의실</label>
                        <select id="reservation_room" name="reservation_room">
                            <option value="">회의실 선택</option> 
                        </select>
                    </div>
                    <div class="reservation_row">
                        <label for="reservation_date">예약일</label>
                        <input type="date" id="reservation_date" name="reservation_date"> 
                    </div> 
                    <div class="reservation_row"> 
                        <select class="time_select" id="reservation_start_time" name="reservation_start_time" > 
                            <option value="">시작 시간</option> 
                        </select>
                        <select class="time_select" id="reservation_end_time" name="reservation_end_time" > 
                            <option value="">종료 시간</option> 
                        </select>
                    </div> 
                    <div class="reservation_row">
                        <label for="reservation_name">예약자</label>
                        <span class="reservation_name" id="reservation_name" th:text="${memberdto.member_name}"></span>
                    </div> 
                    <div class="reservation_row">
                        <label for="reservation_purpose">목적</label>
                        <textarea id="reservation_purpose" name="reservation_purpose"></textarea>
                    </div> 
                    <div class="reservation_row reservation_participate">
                        <label>참여자</label>
                        <button type="button" id="openOrganizationChartButton" class="modal_btn">참여자 선택</button> 
                        <div class="selected-participants-container"></div>
                    </div> 
                    <input type="hidden" name="selectedMembers" id="selectedMembers" />
                    <button type="submit" id="reservation_submit">수정</button>
                </form>
            </div>
        </div>
        
        <!-- 조직도 모달 -->
        <div class="participate_modal" id="organizationChartModal" tabindex="-1" role="dialog" aria-labelledby="organizationChartModalLabel">
            <div class="modal-dialog" role="document">
                <div class="participate_modal-content">
                    <form>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="participate_modal-header">
                            <div class="participate_organizationchart_title" id="organizationChartModalLabel">참여자 등록</div>
                            <span class="chart_close" id="chart_close"data-dismiss="modal" aria-label="Close">&times;</span>
                        </div>
                        <div class="participate_modal-body"> 
                            <div id="selected-members"> </div>
                            <input type="text" id="organization_search" placeholder="검색어를 입력하세요." class="organization_search">
                            <div id="organization-chart"></div>
                            <button id="participate_confirmButton" type="button" class="participate_modal_btn">확인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	    
        <script th:src="@{/js/employee/meeting/reservationDetail.js}"></script>
    </th:block>
</html>
