<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/layout}">
<meta charset="UTF-8">

<th:block layout:fragment="content">
    <link th:href="@{/css/admin/addVacation.css}" rel="stylesheet" type="text/css">
    <div class="addVacation_content">
        <table id="vacationTable">
            <colgroup>
                <col style="width: 40%" />
                <col style="width: 60%" />
            </colgroup>
            <tbody>
            <tr>
                <td id="yearLabel">연차별 휴가 개수 지정</td>
                <td id="formContainer">
                    <div id="vacationFormContainer">
                        <!-- 여기에 동적으로 입력폼이 추가됩니다 -->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center" class="addVacation_button">
            <button onclick="addYear()">+</button>
            <button onclick="removeYear()">-</button>
        </div>
    </div>
</th:block>


</html>
