<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/layout}">
<th:block layout:fragment="content">
	<link th:href="@{/css/admin/schedule/companySchedule.css}"
		rel="stylesheet" type="text/css">
	<script
		src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
	<script
		src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.15/index.global.min.js'></script>
	<section>
		<h1>사내 일정</h1>
		<div>
			<button id="addEventBtn">등록</button>
			<div id="calendar"></div>
		</div>
	</section>

	<!-- 등록 모달 -->
	<div id="eventModal" class="modal">
	    <div class="modal-content">
	        <span class="add_close close" id="closeModalBtn">&times;</span>
	        <h2 class="modal-title">사내 일정 등록</h2>
	        <hr class="create_hr">
	        <form id="eventForm">
	            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	            <input type="hidden" id="eventId">
	            <input type="hidden" id="isRecurring">
	            
	            <div class="form-group">
	                <label for="eventTitle">일정 제목</label>
	                <input type="text" id="eventTitle" name="title">
	            </div>
	            
	            <div class="form-group">
	                <label for="category">카테고리</label>
	                <select id="category" name="category">
	                    <option value="">카테고리</option>	
	                </select> 
	            </div>
	            
	            <div class="form-group">
	                <label for="eventDate">날짜</label>
	                <input type="date" id="eventDate" name="date">
	            </div>
	
	            <div class="form-group" id="timeGroup">
	                <label for="startTime">시작 시간</label>
	                <input type="time" id="startTime" name="start_time">
	            </div>
	
	            <div class="form-group" id="endTimeGroup">
	                <label for="endTime">종료 시간</label>
	                <input type="time" id="endTime" name="end_time">
	            </div>
   	            
   	            <div class="form-group" id="endDateGroup" style="display:none;">
	                <label for="endDate">종료 날짜</label>
	                <input type="date" id="endDate" name="endDate">
	            </div>
	            
	            <div class="form-group">
	                <label for="allDay">종일</label>
	                <input type="checkbox" id="allDay" name="allDay">
	            </div> 
	            
	            <div class="form-group">
	                <label for="repeatOption">반복</label>
	                <select id="repeatOption" name="repeat">
	                    <option value="0">반복 없음</option>	
	                </select>
	            </div>
	
	            <div class="form-group" id="repeatEndGroup" style="display:none;">  
	                <label for="repeatEndDate">반복 종료일</label>
	                <input type="date" id="repeatEndDate" name="repeatEndDate">
	            </div>
	            
	            <div class="form-group">
	                <label for="description">내용</label>
	                <textarea id="description" name="description"></textarea>
	            </div>  
	            
	            <div class="form-group">
	                <button type="submit" class="modal_in_btn" id="create_modal_submit">저장</button>
	                <button type="button" id="closeModalBtn2">취소</button>
	            </div>
	        </form>
	    </div>
	</div>
	
	<!-- 상세보기 -->
	<div id="eventViewModal" class="event_view_modal" style="display: none;">
	    <div class="event_modal-content"> 
	    	<input type="hidden" id="eventId">
		    <div class="modal-schedule-button">
		    	<span class="modal-schedule-button-two">
		            <button id="editEventBtn"><i class="fa-solid fa-pencil"></i></button> 
		            <button id="deleteEventBtn"><i class="fa-regular fa-trash-can"></i></button> 
	            </span>
	            <span class="schedule_close" id="closeScheduleModalBtn">&times;</span>
	        </div>
	        <div>
	        	<div class="modal-header">
		            <div id="eventViewCategory"></div>
		            <div id="eventViewTitle"></div>	        	
	        	</div>
	            <div id="eventViewDateRange"></div>
	            <div id="eventViewComment"></div>
	        </div>
	        <div class="modal-body">
	            <hr class="event_view_hr"> 
	            <div id="eventViewRepeatInfo"></div>
	            <div id="eventViewCreatedDate"></div> 
	        </div> 
	    </div>
	</div> 
	
	<!-- 반복 일정 -->
	<div id="eventRepeatModal" class="event_repeat_modal" style="display: none;">
	    <input type="radio" id="editThisEvent" name="repeatEditOption" value="single" checked>
	    <label for="editThisEvent">이 일정</label>
	    
	    <input type="radio" id="editFutureEvents" name="repeatEditOption" value="future">
	    <label for="editFutureEvents">이 일정 및 향후 일정</label>
	
	    <input type="radio" id="editAllEvents" name="repeatEditOption" value="all">
	    <label for="editAllEvents">모든 일정</label>
	    
	    <button id="event_repeat_modal_btn">확인</button>
	</div>

	<script th:src="@{/js/admin/schedule/companySchedule.js}"></script>
</th:block>
</html>