<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}"> 
    <th:block layout:fragment="content">
        <link th:href="@{/css/admin/meeting/meetingReservationList.css}" rel="stylesheet" type="text/css">
        <section>
	        <h1>전체 예약 내역</h1>
         	<div>
	     		 
			</div>
        </section>
        <script th:src="@{/js/admin/meeting/meetingReservationList.js}"></script>
    </th:block>
</html>