.chatSection{
    padding : 0;
}
.chatArea {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.no-style {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.chatElement {
    border: none;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 85vh;
    border-left: 1px solid #ddd;
}


.message-content p {
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    text-align: left;
}
.chatHeader {
       border-bottom: 1px solid #ddd;
       display: flex;
       align-items: center;
       padding: 1vw;
       background-color: #f9f9f9;
       height: 100px;
       box-sizing: border-box;
       justify-content: space-between;
}

#chatRoomTitle {
    margin: 0;
    font-size: 19px;
    font-weight: 400;
     flex-grow: 1;
     text-align: left;
}
.chatHeader-buttons {
    display: flex;
    gap: 1.5vw;
}
.chatContainer {
    border: none;
    width: 40%;
    background-color: white;
    height: 85vh;
}
.chatContainer .header{
       border-bottom: 1px solid #ddd;
       display: flex;
       align-items: center;
       background-color: #f9f9f9;
       gap: 10px;
       height: 93.94px;
       box-sizing: border-box;
    padding: 1vw;
}
#searchChatButton {
    margin-right: 3px;
    font-size: 17px;
    background-color:transparent;
}
#openChart {
    font-size: 18px;
}
.searchContainer {
    display: flex;
    justify-content: space-between;
    padding : 1vw;
}
.chatContent {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: calc(100% - 180px);
    overflow-y: auto;
}
.chatContent::-webkit-scrollbar {
    width: 8px;
}

.chatContent::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chatContent::-webkit-scrollbar-thumb {
    background: #888;
}

.chatContent::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chatContent {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
#searchInput {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;

}

#searchChatButton, #addChatButton {
    border: none;
    cursor: pointer;
}
#listButtons{
    display:flex;
    gap:1vw;
}

.chatList {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}
.chatList-container {
    max-height: 879px;
    overflow-y: auto;
}
.chatList-container::-webkit-scrollbar {
    width: 8px;
}

.chatList-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chatList-container::-webkit-scrollbar-thumb {
    background: #888;
}

.chatList-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chatList-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
#chatListTitle {
    font-weight:400;
    font-size:19px;
}
.chatItem {
    gap:10px;
    padding: 10px;
    cursor: pointer;
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
}
.chatItem h3 p{
    font-weight:400;
}

.chatItem:hover {
    background-color: #f0f0f0;
}

.chatItem.selected {
    background-color:#f0f0f0;
}
.chatInput {
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    height: 60px;
    margin-top:3px;
    box-sizing: border-box;
}
.pin{
    display:flex;
    align-items:center;
    color: #8080808f;
    margin-left: 10px;
}

.countParticipant {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    margin-left: 5px;
}
.chatInfo {
    display:flex;
    gap:10px;
    flex-direction:row;
}
.message-input {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.message-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.send-button {
    border: none;
   background-color: #B1C2DD;
    color: black;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* 반응형 스타일 */
@media (max-width: 768px) {
    .chatInput {
        flex-direction: column;
        gap: 5px;
    }

    .message-input {
        width: 100%;
        padding: 8px;
        font-size: 0.9rem;
    }

    .send-button {
        width: 100%;
        padding: 10px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .chatInput {
        flex-direction: column;
        gap: 5px;
    }

    .message-input {
        width: 100%;
        padding: 8px;
        font-size: 0.8rem;
    }

    .send-button {
        width: 100%;
        padding: 10px;
        font-size: 0.8rem;
    }
}

.messageItem {
    margin-bottom: 10px;
    padding: 5px;
    max-width: 100%;
}

.messageItem span {
    display: block;
    font-size: 0.8em;
    color: #666;
}

.other-message span {
    display: block;
    color: #666;
}

.my-message .message-ele {
    text-align: left;
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
}

.my-message .message-content {
    background-color: #B1C2DD;
    margin: 5px;
    max-width: 50%;
    margin-left: auto;
    display: inline-block;
    border-radius: 20px 20px 0 20px;
    padding-left:18px;
    padding-right:18px;
}

.my-message .message-time {
    display: block;
    text-align: right;
    color: #666;
    padding: 0 10px;
    margin-left:8px;
}

.other-message .message-ele {
    text-align: left;
    margin-right: auto;
}

.other-message .message-content {
    background-color: #e3e3e3;
    border-radius: 20px 20px 20px 0;
    padding-left: 18px;
    padding-right: 18px;
    margin: 5px;
    max-width: 50%;
    display: inline-block;
    margin-right: 10px;
}

.other-message .message-time {
    display: block;
    color: #666;
    margin-left:8px;
}
.system-message {
    text-align: center;
    color: #888;
    font-style: italic;
}

.system-message .system-content p {
    margin: 0;
    padding: 5px 0;
}
/*그룹명 모달*/
.modal-content {
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border: none;
}
.selected-member-item i {
    margin-right: 5px;
    font-size: 2px;
}
.modal-title{
    font-weight: bold;
    font-size:18px;
}
.group-modal-header {
    border-bottom: none;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;

}
.group-modal-header button {
    border: none;
    background-color: white;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.group-modal-header h5 {
    font-weight: 600;
    font-size: 1.25rem;
    color: #333;
}

.group-modal-header .close {
    outline: none;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-body {
    padding-top: 15px;
    padding-bottom: 15px;
}

#groupChatNameInput {
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 95%;
    transition: border-color 0.3s;
}

#groupChatNameInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.modal-footer {
    border-top: none;
    padding-top: 10px;
}
.modal-footer button {
    border-radius: 5px;
    border:none;
    background-color: #003a82;
    color:white;
    padding: 10px 15px;
    float:right;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}
#confirmGroupChatName:disabled {
    background-color: #d3d3d3;
    border-color: #b0b0b0;
    color: #a9a9a9;
}

.send-button:disabled {
    background-color: #d3d3d3;
    border-color: #b0b0b0;
    color: #a9a9a9;
}

.btn-disabled {
    background-color: #d3d3d3;
    border-color: #b0b0b0;
    color: #a9a9a9;
}
#openDrop {
    margin-bottom:2px;
    font-size:17px;
}
.chatDropdown {
    position: relative;
    display: inline-block;
    margin-left:10px;
}

.chat-dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    border-radius: 5px;
    background-color: white;
    min-width: 150px;
    font-size: 18px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.chat-dropdown-item {
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;

}
.chat-dropdown-item i {
    margin-right: 8px;
}
.chat-dropdown-item:hover {
    background-color: #f1f1f1;
}
.unread-count-container {
    display: flex;
    align-items: center;
     position: absolute;
     right: 50px;
     top: 50%;
     transform: translateY(-50%);
}
.menu-text {
    margin-left: 4px;
    font-weight: 300;
}
#searchChatContent {
    margin-top : 3px;
}
.modal-content-element{
    display: flex;
    justify-content: space-between;
}
.modal-content-element .close {
    border:none;
    font-size: 28px;
    cursor: pointer;
    background-color:white;
}
#chatRoomNameInput{
margin-top: 10px;
    font-size: 17px;
    padding: 5px;
}

.update-button {
    margin-top: 10px;
    width: 65px;
    border-radius: 5px;
    border:none;
    background-color: #003a82;
    color:white;
    padding: 10px 15px;
}
.update-button:disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
    opacity: 0.6;
}
.custom-confirm-button {
     background-color: #003a82;
     color:white;
}
.custom-cancel-button {
    background-color: #dc3545;
    color: white;
}
.profile-images {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.group-info {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.group-image {
    width: 30px;
    height: 30px;
    border-radius: 0;
    background-color: rgb(177, 194, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

