.chatArea {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 5vw;
}
.no-style {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.chatElement {
    border: none;
    width: 45%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 85vh;
}
.chatHeader {
       border-bottom: 1px solid #ddd;
       display: flex;
       align-items: center;
       padding: 1vw;
       background-color: #f9f9f9;
       border-radius: 10px 10px 0 0 ;
       height: 100px;
       box-sizing: border-box;
       justify-content: space-between;
}

#chatRoomTitle {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
     flex-grow: 1;
     text-align: left;
}
.chatHeader-buttons {
    display: flex;
    gap: 1.5vw;
}
.chatContainer {
    border: none;
    width: 25%;
    border-radius: 10px;
    background-color: white;
    height: 85vh;
}
.chatContainer .header{
       border-bottom: 1px solid #ddd;
       display: flex;
       align-items: center;
       background-color: #f9f9f9;
       border-radius: 10px 10px 0 0 ;
       gap: 10px;
       height: 100px;
       box-sizing: border-box;
    padding: 1vw;
}
#searchChatButton {
    margin-right: 3px;
}
.searchContainer {
    display: flex;
    justify-content: space-between;
    padding : 1vw;
}
.chatContent {
    border-radius: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: calc(100% - 100px);
    overflow-y: auto;
}

#searchInput {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#searchChatButton, #addChatButton {
    border: none;
    background-color: white;
    cursor: pointer;
}
#listButtons{
    display:flex;
    gap:1vw;
}

.chatList {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}

.chatItem {
    padding: 10px;
    cursor: pointer;
}

.chatItem:hover {
    background-color: #f0f0f0;
}

.chatItem.selected {
    background-color:#f0f0f0;
}
.chatInput {
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px;
    gap: 10px;
    height: 60px;
    box-sizing: border-box;
}

.message-input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.message-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.send-button {
    border: none;
   background-color: #B1C2DD;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* 반응형 스타일 */
@media (max-width: 768px) {
    .chatInput {
        flex-direction: column;
        gap: 5px;
    }

    .message-input {
        width: 100%;
        padding: 8px;
        font-size: 0.9rem;
    }

    .send-button {
        width: 100%;
        padding: 10px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .chatInput {
        flex-direction: column;
        gap: 5px;
    }

    .message-input {
        width: 100%;
        padding: 8px;
        font-size: 0.8rem;
    }

    .send-button {
        width: 100%;
        padding: 10px;
        font-size: 0.8rem;
    }
}

.messageItem {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    max-width: 100%;
}

.messageItem span {
    display: block;
    font-size: 0.8em;
    color: #666;
}

.other-message span {
    display: block;
    color: #666;
}
.my-message .message-ele {
    text-align: right;
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
}

.my-message .message-content {
    background-color: #B1C2DD;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 50%;
    margin-left: auto;
    display: inline-block;
}

.my-message .message-time {
    display: block;
    text-align: right;
    color: #666;
    padding: 0 10px;
}

.other-message .message-ele {
    text-align: left;
    margin-right: auto;
}

.other-message .message-content {
    background-color: #e3e3e3;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 50%;
    display: inline-block;
    margin-right: 10px;
}

.other-message .message-time {
    display: block;
    color: #666;
}

/*그룹명 모달*/
.modal-content {
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border: none;
}
.selected-member-item i {
    margin-right: 5px;
    font-size: 2px;
}
.group-modal-header {
    border-bottom: none;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;

}
.group-modal-header button {
    border: none;
    background-color: white;
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
}
.group-modal-header h5 {
    font-weight: 600;
    font-size: 1.25rem;
    color: #333;
}

.group-modal-header .close {
    outline: none;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-body {
    padding-top: 15px;
    padding-bottom: 15px;
}

#groupChatNameInput {
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 95%;
    transition: border-color 0.3s;
}

#groupChatNameInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.modal-footer {
    border-top: none;
    padding-top: 10px;
}
.modal-footer button {
    border-radius: 5px;
    border:none;
    background-color: #B1C2DD;
    padding: 10px 15px;

}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}


.send-button:disabled {
    background-color: #d3d3d3;
    border-color: #b0b0b0;
    color: #a9a9a9;
}

.btn-disabled {
    background-color: #d3d3d3;
    border-color: #b0b0b0;
    color: #a9a9a9;
}
#openDrop {
    margin-bottom:2px;
}
.chatDropdown {
    position: relative;
    display: inline-block;
}

.chat-dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    border-radius: 5px;
    background-color: white;
    min-width: 120px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.chat-dropdown-item {
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;

}
.chat-dropdown-item i {
    margin-right: 8px;
}
.chat-dropdown-item:hover {
    background-color: #f1f1f1;
}
.menu-text {
    margin-left: 4px;
}
#searchChatContent {
    margin-top : 3px;
}
.modal-content-element{
    display: flex;
    justify-content: space-between;
}
.modal-content-element .close {
    border:none;
    background-color:white;
    color: #aaa;
    font-size: 28px;
    cursor: pointer;
}
#chatRoomNameInput{
margin-top: 10px;
    font-size: 17px;
    padding: 5px;
}

#editChatRoomForm button {
    margin-top: 10px;
    width: 65px;
    border-radius: 5px;
    border:none;
    background-color: #B1C2DD;
    padding: 10px 15px;
}
.update-button:disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
    opacity: 0.6;
}
