@charset "UTF-8";

.my_profile {
    margin: auto;
    height: 700px;
    width: 1250px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 70px 30px 70px;
    border-radius: 15px;
}

.profile_card {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.profile_header {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;
    margin-right: 150px;
}

.profile_header_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C0C0C0;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.file_info {
    color: red;
    font-size: 15px;
    margin-left: 40px;
}

.divider {
	margin-bottom:50px;
    width: 800px;
    border: 0;
    border-top: 1px solid #ddd; 
}

.profile_details_top {
	margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0;
    list-style: none; 
}

.profile_details_top li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.profile_details_top li strong {
    min-width: 80px;
    flex-shrink: 0;
}


.profile_details {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0;
    margin: 0;
    list-style: none; 
}

#member_name {
   width: 50px; 
}

.national_number input {
    width: 70px; 
}

.profile_details li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.profile_details li strong {
    min-width: 80px;
    flex-shrink: 0;
}

.profile_details.paired {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;
    margin-left: 180px;
}

.mobile_number, .internal_number {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mobile_number input, .internal_number input {
    width: 60px; 
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.mobile_number span, .internal_number span {
    font-size: 1rem; 
}


.profile_details input[type="text"], .profile_details input[type="date"], .profile_details input[type="tel"] {
	padding: 8px;
	border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;
}

.profile_details input[type="text"]:focus, .profile_details input[type="date"]:focus, .profile_details input[type="tel"]:focus {
    outline: none;
    border-color: #B1C2DD;
}

select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    max-width: 400px; 
    box-sizing: border-box;
    font-size: 1rem; 
}

select option {
    padding: 8px; 
}

.button_container {
    display: flex;
    gap: 10px;
    justify-content: flex-end; 
    width: 100%;
}

.edit_button, .cancel_button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit_button {
	padding: 10px 20px;
	background-color: #0056b3;
	border-radius: 4px;
	color: white;
	border: none;
}

.edit_button:hover {
	background-color: #003a82;
}

.cancel_button {
	padding: 10px 20px;
	border-radius: 4px;
    background-color: #f8f9fa;
	color: #333;
	border: 1px solid #ddd;
}

.cancel_button:hover {
	background-color: #e9ecef;
}

