@charset "UTF-8";
@charset "UTF-8";

.my_profile {
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.profile_card {
    background-color: #f8f9fa;
    border-radius: 12px;
	height: 530px;
	width:800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px 20px 60px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.profile_header {
    display: flex;
    width: 100%;
    padding: 0 20px;
}

.profile_header_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_img {
	height: 150px;
    border-radius: 50%;
}

.profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload_button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #C0C0C0;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.file_info {
    color: red;
    font-size: 0.7rem;
    margin-left: 40px;
}

.divider {
    width: 100%;
    border: 0;
    border-top: 1px solid #ddd; 
}

.profile_details {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 50px;
}

#member_name {
   width: 50px; 
}

.national_number input {
    width: 70px; 
}

.profile_details li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile_details li strong {
    min-width: 80px;
    flex-shrink: 0;
}

.profile_details.paired {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
}

.mobile_number, .internal_number {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mobile_number input, .internal_number input {
    width: 60px; 
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.mobile_number span, .internal_number span {
    font-size: 1rem; 
}


.profile_details input[type="text"], .profile_details input[type="date"], .profile_details input[type="tel"] {
	padding: 8px;
	border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;
}

.profile_details input[type="text"]:focus, .profile_details input[type="date"]:focus, .profile_details input[type="tel"]:focus {
    outline: none;
    border-color: #B1C2DD;
}

select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    max-width: 400px; 
    box-sizing: border-box;
    font-size: 1rem; 
}

select option {
    padding: 8px; 
}

.button_container {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    justify-content: flex-end; 
    width: 100%;
}

.edit_button, .cancel_button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit_button {
    background-color: #B1C2DD;
}

.cancel_button {
    background-color: #C0C0C0;
}
