<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
<th:block layout:fragment="content">
    <link th:href="@{/css/admin/chat/chat.css}" rel="stylesheet" type="text/css">

    <section th:each="member : ${memberdto}">
        <div class="chatArea">
            <div class="chatContainer">
                <div class="header">
                    <input type="text" id="searchInput" placeholder="메시지를 입력하세요.">
                    <button id="searchChatButton" onclick="searchMem()"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button id="addChatButton" onclick="addModal()"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="chatList" id="chatList" th:each="chat:${chatList}">
                    <!-- 채팅 목록 항목 -->
                    <div class="chatItem" th:onclick="'handleChatRoomClick('+ ${chat.chat_room_no} + ')'">
                        <h3><p th:text="${chat.chat_member_room_name}"></p></h3>
                        <input type="hidden" id="memberNo" th:value="${member.member_no}"/>
                        <input type="hidden" id="chatRoomNo" th:value="${chat.chat_room_no}" />
                    </div>
                </div>
            </div>
            <div class="chatElement">
                <div class="chatContent" id="chatContent">
                    <div>
                        <!-- 여기에 채팅 메시지가 표시 -->
                    </div>

                </div>
                <div class="chatInput">
                    <input type="hidden" id="userNo" th:value="${member.member_no}">
                    <input type="hidden" id="userName" th:value="${member.member_name}">
                    <input type="text" id="messageInput" placeholder="Type a message...">
                    <button onclick="sendMessage()">Send</button>
                </div>
            </div>

        </div>
    </section>

    <script th:src="@{/js/admin/chat/chatMessage.js}"></script>
</th:block>
</html>
