@charset "UTF-8";

/* 눈누 폰트 */
/* 레페리포인트 */
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.attendance{
	font-family: 'LeferiPoint-BlackA';
	flex: 1.5;  
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto; 
	text-align: center;
	font-size: 25px;
	align-items: center;
}
.attendance button {
    font-family: 'LeferiPoint-BlackA'; 
}
.attendance_button{
	 display: flex;
     justify-content: center;
     align-items: center;
}
/* 출퇴근 버튼 css */
#check_in_button, #check_out_button {
    border: none;
    width: 13.5vw;
    height: 5.5vh;
    border-radius: 8px;
    background-color: #B1C2DD;
    transition: background-color 0.3s;
}
#check_in_button {
    margin-right: 15px;
}

#check_out_button {
    margin-left: 15px;
}
/* 출퇴근 버튼이 활성화 상태일 때 cursor 모양 */
#check_in_button:enabled {
    cursor: pointer;
}
#check_out_button{
	cursor: pointer;
}
/* 출근 버튼이 비활성화 상태일 때 기본 커서 모양과 색깔  */
#check_in_button:disabled {
    cursor: default;
    background-color: #eee;
}

/* 활성화된 출퇴근 버튼에 대한 호버 효과 */
#check_in_button:hover, #check_out_button:hover {
    background-color: #eee;
}
/* 근태 조회 버튼 */
#attendance_check {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: black;
    background-color: #C3C3C3;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 26.5vw;
    height: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 근태 조회 버튼에 대한 호버 효과 */
#attendance_check:hover {
    background-color: #eee;
}