@charset "UTF-8";

#clock{
	font-size: 1.4vw;
}
.attendance{
	flex: 1.5;  
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto; 
	text-align: center;
	font-size: 2vw;
	align-items: center;
}
.attendance_button{
	 display: flex;
     justify-content: center;
     align-items: center;
}
/* 출퇴근 버튼 css */
#check_in_button, #check_out_button {
    border: none;
    width: 4vw;
    height: 4vh;
    font-size: 0.8vw;
    border-radius: 8px;
    background-color: #B1C2DD;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#check_in_button {
    margin-right: 0.2vw;
}
/* 출퇴근 버튼이 활성화 상태일 때 cursor 모양 */
#check_in_button:enabled {
    cursor: pointer;
}
#check_out_button{
	cursor: pointer;
}
/* 출근 버튼이 비활성화 상태일 때 기본 커서 모양과 색깔  */
#check_in_button:disabled {
    cursor: default;
    background-color: #eee;
}
#check_out_button:disabled {
    cursor: default;
    background-color: #eee;
}

/* 활성화된 출퇴근 버튼에 대한 호버 효과 */
#check_in_button:hover, #check_out_button:hover {
    background-color: #eee;
}
.time_display{
	display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
	font-size: 0.75vw;
}
#check_in_time{
	grid-column: 1;
	color: gray;
}
#check_out_time{
	grid-column: 2;
	color: gray;
}
.swal2-confirm {
	background-color: #B1C2DD;
	color: black;
}