@charset "UTF-8";

.attendance_div{
    display: flex;
	width: 96%;
	height : 75vh;
}
.today_button{
	width: 2.4vw;
	height: 3vh;
	font-size: 0.7vw;
	margin-left: auto;
	margin-right: 0.8vw;
	margin-top: 0.2vh;
	display: inline-block;
	cursor: pointer;
	text-align: center;	
	background-color: #B1C2DD;
	border: none;
	border-radius: 5px;
}
.today_button:hover{
	background-color: #a8b2cb;
	transition: background-color 0.3s;	
}
/* 근태 상태 */
.attendance_status{
	margin-left: 1vw;
	margin-bottom: 1.4vh;
	font-size: 1vw;
	display: flex;
	align-items: center; 
}
/* 출근 */
#attendance_normal{
	width: 2vw; 
    height: 1.7vh; 
    display: inline-block; 
    background-color: #00D220; 
    vertical-align: middle; 
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}
/* 지각 */
#attendance_late{
	width: 2vw; 
    height: 1.7vh; 
    display: inline-block; 
    background-color: #FFB545; 
    vertical-align: middle; 
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}
/* 결근 */
#attendance_absent{
	width: 2vw; 
    height: 1.7vh; 
    display: inline-block; 
    background-color: #D25726; 
    vertical-align: middle; 
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}
/* 휴가 */
#attendance_vacation{
	width: 2vw; 
    height: 1.7vh; 
    display: inline-block; 
    background-color: #3226D2; 
    vertical-align: middle; 
    margin-left: 10px;
    border-radius: 20px;
}
/* 왼쪽 영역 */
.attendance_left{
	display: flex;
	width: 90%;
	height: 95%;
	margin: 20px;
	flex-direction: column; 
	display: inline-block;
}
.calendar_div{
	width: 100%;
	height: 94%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
}
/* 년도와 날짜, 꺽쇠 */
#calendar_title{
	border-bottom: 1px solid black;
	padding-top: 25px;
	width: 90%;
	height: 40px;
	display: flex;
    justify-content: center; 
    font-size: 1.2vw;
}
/* 년도와 날짜 */
#year_and_month{
	width: 150px;
	text-align: center;
}
/* 이전 달, 다음 달 버튼 */
#prev_button, #next_button{
	margin: 0 15px; 
	cursor: pointer;
	font-size: 1.2vw;
}
/* 달력 */
#calendar{
	height: 90%;
	width: 95%;
	margin-top: 20px;
	border-collapse: collapse;
	flex: 1;
	table-layout: fixed;
	font-size: 1vw;
}

/* 달력 날짜 안에 바 */
#calendar td {
    width: calc(100% / 7);
    padding: 5px;
    vertical-align: top;
    box-sizing: border-box;
}
/* 정살 출근 */
.bar_normal {
	background-color: #00D220; 
	border-radius: 20px;
    width: 70%;
    height: 30%; 
    margin-top: 2px; 
}
/* 지각 */
.bar_late {
	background-color: #FFB545; 
	border-radius: 20px;
    width: 70%;
    height: 30%; 
    margin-top: 2px; 
}
/* 결근 */
.bar_absent {
	background-color: #D25726; 
	border-radius: 20px;
    width: 70%;
    height: 30%; 
    margin-top: 2px;     
}
/* 휴가 */
.bar_vacation {
	background-color: #3226D2; 
	border-radius: 20px;
    width: 70%;
    height: 30%; 
    margin-top: 2px; 
}
/* 달력 안에 각 날짜 */
.date_container {
    position: relative;
    width: 100%;
    height: 3vh;
    text-align: center;
}
/* 오늘 날짜를 강조 */
.today_date {
    background-color: lightgray;
    padding: 0.5vh 0.5vw 0.4vh 0.5vw;
	border-radius: 5px;
}
/* 달력 안에 근태 bar */
.date_bar {
    position: absolute;
    margin-top: 0.7vh;
    left: 50%;
   	transform: translateX(-50%);
}
.holiday_name {
    font-size: 0.8vw; 
    color: red;
    margin-top: 0.8vh;
}
.invisible_table{
	display: none;
}
.attendance_right{
	width: 100%;
	height: 95%;
	flex-direction: column; 
}
.count_div{
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	width: 100%;
	height: 4.2vh;
	align-items: center;
}
#attendance_count, #late_count, #absence_count{
	font-size: 0.8vw;
	height: 100%;
	display: flex;
    align-items: center; 
    justify-content: space-around;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-right: 2vw;
	padding-top: 0.2vh;
	border-radius: 10px;
}
#attendance_count{
	width: 11vw;
}
#count{
	font-weight: bold;
}
#late_count, #absence_count{
	width: 10vw;
}
.search{
	display: flex;
	margin-top: 1.5vh;
	margin-left: 1.5vw;
}
.attendance_list{
	width: 95%;
	height: 85%;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	margin-left: 1.5vw;
	margin-top: 1.7vh;
	display: inline-block;
	overflow: hidden;
    position: relative;
    font-size: 1vw;
}
.attendance_table{
	width: 100%;
	align-items: center;
    justify-content: center;
    text-align: center;
	border-collapse: collapse;
	table-layout: fixed; 
}
.attendance_table td { 
	padding: 0.6vh;
    text-align: center;
	border-top: 1px solid #ddd;
}
.attendance_table th {
	height: 2.7vh;
	padding: 0.8vh;
    text-align: center;
    border-bottom: 2px solid gray;
}
.attendance_table tbody tr {
    height: 4.7vh; 
    vertical-align: middle; 
}
#table_foot{
	border-top: solid 2px gray;
}
#start_date, #end_date{
	border: 1px solid #ddd;
    border-radius: 4px;
	margin-right: 1vw;
	height: 3.5vh;
	font-size: 1vw;
}
#start_date:focus, #end_date:focus{
    outline: none;
    border-color: #B1C2DD;
}
#attendance_state{
	margin-right: 1.5vw;
	padding-left: 0.5vw;
	width: 6vw;
	height: 3.8vh;
	border-radius: 2px;
	font-size: 1vw;
	border: 1px solid #ddd;
    border-radius: 4px;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="%23333" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: left 4.2vw center;
}
#attendance_state:focus{
    outline: none;
    border-color: #B1C2DD;
}
#sort_select{
	margin-left: 10px;
	padding-left: 0.5vw;
	width: 6vw;
	height: 3.8vh;
	font-size: 1vw;
	border: 1px solid #ddd;
    border-radius: 4px;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="%23333" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: left 4vw center;
}
#sort_select:focus{
    outline: none;
    border-color: #B1C2DD;
}
#wave{
	height: 3.3vh;
	margin-right: 1vw;
	font-size: 1.2vw;
	display: flex;
	align-items: center;
}
.pagination {
    display: flex;
    justify-content: center;
}
.pagination_button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
}
.pagination_button:hover {
	color: white;
    background-color: #e9ecef;
}
.pagination_button.active{
	background-color: #B1C2DD;
    color: white;
    border-color: #B1C2DD;
}
.go_first_page_button, .go_last_page_button{
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
}
.go_first_page_button:hover, .go_last_page_button:hover{
    color: white;
    background-color: #e9ecef;
}