<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveLink.linkOffice.mapper.ChatMapper"> <!-- namespace 수정 -->
<!-- 채팅방 목록 가져오기   -->
    <select id="selectChatList" parameterType="java.lang.Long" resultType="com.fiveLink.linkOffice.chat.domain.ChatMemberDto">
        SELECT *
        FROM fl_chat_member
        WHERE member_no = #{memberNo}
        ORDER BY chat_member_join_date DESC
    </select>
<!-- 채팅 내용 가져오기   -->
    <select id="getChatMessages" parameterType="java.lang.Long" resultType="java.util.HashMap">
        SELECT
        cm.chat_message_create_date AS chatMessageCreateDate,
        cm.chat_content AS chatContent,
        m.member_name AS senderName,
        cm.chat_room_no AS roomNo,
        cm.chat_sender_no AS senderNo
        FROM fl_chat_message cm
        JOIN fl_member m ON cm.chat_sender_no = m.member_no
        WHERE cm.chat_room_no = #{roomNo}
        ORDER BY cm.chat_message_create_date ASC;
    </select>

    <select id="countRoomNo" resultType="int">
        SELECT count(*) FROM fl_chat_room
    </select>

<!-- 이름 + 부서 같이 넣기 위해 찾기-->
    <select id="searchPosition" resultType="String"  parameterType="java.lang.Long">
        SELECT p.position_name
        FROM fl_member m
        JOIN fl_position p ON m.position_no = p.position_no
        WHERE m.member_no = #{memberNo}
    </select>

<!-- 채팅방 이름 가져오기   -->
    <select id="selectChatRoomName" resultType="String" parameterType="java.lang.Long">
        SELECT chat_member_room_name
        FROM fl_chat_member
        WHERE chat_room_no = #{chatRoomNo}
        AND member_no = #{memberNo}
    </select>

<!-- 채팅방 이름 수정   -->
    <update id="updateChatRoom">
        UPDATE fl_chat_member SET
        chat_member_room_name = #{roomName}
        WHERE member_no = #{memberNo}
        AND chat_room_no = #{roomNo}
    </update>

<!-- 채팅방 타입 가져오기  -->
    <select id="chatRoomType" resultType="int">
        SELECT chat_room_type FROM fl_chat_room
        WHERE chat_room_no = #{chatRoomNo}
    </select>
</mapper>