<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/layout}">
<meta charset="UTF-8">
<th:block layout:fragment="content">
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<link th:href="@{/css/admin/notice/notice_update.css}" rel="stylesheet" type="text/css">

	<section>
		<div class="edit_notice">
			<form id="noticeEditFrm"
				th:action="@{/notice/update/{notice_no}(notice_no=${dto.notice_no})}"
				th:object="${dto}" enctype="multipart/form-data" method="POST">
				<!-- CSRF 토큰 -->
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" id="csrfToken" /> 
				<input type="hidden" name="notice_no" th:value="${dto.notice_no}" />
				<input type="hidden" id="memberNo" th:value="${memberdto[0].member_no}">
				
				<!-- 제목 -->
				<div class="header">
					<label id="titleLabel">제목 :</label> 
					<span id="importantLabel" style="color: red; display: none;">&lt;중요&gt;</span> 
					<input type="text" id="title" name="notice_title" th:field="*{notice_title}" required>
					
					<div class="important-box">
						<label>중요</label> 
						<input type="checkbox" id="important" name="notice_important_checkbox" th:checked="${dto.notice_importance == 1}"> 
						<input type="hidden" id="notice_important" name="notice_importance" th:field="*{notice_importance}">
					</div>
				</div>

				<div class="info" style="display: none;">
					<label>작성일자 :</label> 
					<input type="date" id="date" name="notice_update_date" th:field="*{notice_update_date}" required>
				</div>
				
				<label>현재 첨부파일 : </label> 
				<span id="currentFileName" th:text="${dto.notice_ori_img}"></span>
				<button type="button" id="deleteFileButton">이미지 삭제</button>
				
				<input type="file" name="file" id="fileInput" accept="image/*">
				<input type="hidden" name="existing_file" id="existingFile" th:value="${dto.notice_new_img}">
				<input type="hidden" name="delete_file_flag" id="deleteFileFlag" value="false">
				
				<!-- Quill 에디터 -->
				<div id="editor" th:utext="${dto.notice_content}"></div>
				<input type="hidden" id="noticeContent" name="notice_content">

				<div class="buttons">
					<button type="submit" class="confirm-btn">수정</button>
					<button type="button" class="cancel-btn" onclick="window.history.back()">취소</button>
				</div>
			</form>
		</div>
	</section>

	<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
	<script>
	const location_text = document.getElementById('header_location_text');
	location_text.innerHTML = '공지사항&emsp;&gt;&emsp;공지사항 수정';

    document.addEventListener('DOMContentLoaded', function() {
        var today = new Date();
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var dd = String(today.getDate()).padStart(2, '0');
        var todayFormatted = yyyy + '-' + mm + '-' + dd;

        document.getElementById('date').value = todayFormatted;
        document.getElementById('date').setAttribute('min', todayFormatted);
        document.getElementById('date').setAttribute('max', todayFormatted);

        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{ 'header': [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'color': [] }, { 'background': [] }],
                    ['clean']
                ]
            }
        });

        var checkbox = document.getElementById('important');
        var hiddenImportantInput = document.getElementById('notice_important');
        var importantLabel = document.getElementById('importantLabel');

        if (checkbox.checked) {
            hiddenImportantInput.value = "1";
            importantLabel.style.display = "inline";
        } else {
            hiddenImportantInput.value = "0";
            importantLabel.style.display = "none";
        }

        checkbox.addEventListener('change', function() {
            if (checkbox.checked) {
                hiddenImportantInput.value = "1";
                importantLabel.style.display = "inline";
            } else {
                hiddenImportantInput.value = "0";
                importantLabel.style.display = "none";
            }
        });

        // 이미지 파일 유효성 검사 함수
        function validateFileType(fileInput) {
            const allowedExtensions = ['image/jpeg', 'image/png', 'image/gif'];
            const file = fileInput.files[0];

            if (file && !allowedExtensions.includes(file.type)) {
                Swal.fire({
                    icon: 'error',
                    text: '이미지 파일만 업로드할 수 있습니다 (JPG, PNG, GIF)',
                    confirmButtonColor: '#0056b3',
                    confirmButtonText: '확인'
                });
                fileInput.value = '';  
                return false;
            }
            return true;
        }

        // 이미지 삭제 버튼 클릭 시 처리
        var deleteFileButton = document.getElementById('deleteFileButton');
        var currentFileName = document.getElementById('currentFileName');
        var deleteFileFlag = document.getElementById('deleteFileFlag');
        var fileInput = document.getElementById('fileInput');

        deleteFileButton.addEventListener('click', function() {
            currentFileName.textContent = "파일 삭제";  
            deleteFileFlag.value = "true"; 
            fileInput.value = '';  
        });

        const fileInputElement = document.getElementById('fileInput');
        fileInputElement.addEventListener('change', function() {
            validateFileType(fileInputElement);
        });

        const form = document.getElementById("noticeEditFrm");
        form.addEventListener('submit', (e) => {
            var content = quill.root.innerHTML;
            document.getElementById('noticeContent').value = content;

            if (!validateFileType(fileInputElement)) {
                e.preventDefault();  
                return;
            }

            e.preventDefault();
            const csrfToken = document.getElementById('csrfToken').value;
            const payload = new FormData(form);
            payload.append('_csrf', csrfToken);

            fetch(form.action, {
                method: 'POST',
                body: payload
            })
            .then(response => response.json())
            .then(data => {
                if (data.res_code === '200') {
                    Swal.fire({
                        icon: 'success',
                        text: data.res_msg,
                        confirmButtonColor: '#0056b3',
                        confirmButtonText: '확인'
                    }).then(() => {
                        location.href = '/admin/notice/list';
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        text: data.res_msg,
                        confirmButtonColor: '#0056b3',
                        confirmButtonText: '확인'
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    text: '서버 오류가 발생했습니다.',
                    confirmButtonColor: '#0056b3',
                    confirmButtonText: '확인'
                });
                
            });
        });
    });
    </script>
</th:block>
</html>
