<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/layout}">
    <th:block layout:fragment="content">
        <link th:href="@{/css/admin/notice/list.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/admin/notice/notice_list.css}" rel="stylesheet" type="text/css">
        
        <section>
            <h1>사원 조회</h1>
            <div class="list_notice">
                <div class="search_sort_container">
                    <!-- 검색 조건 -->
                    <div class="search_container">
                        <form th:action="@{/admin/notice/list}" method="get">
                            <select name="search_type" th:value="${searchDto != null ? searchDto.search_type : 1}">
                                <option th:value="1" th:selected="${searchDto.search_type == 1}">전체</option>
                                <option th:value="2" th:selected="${searchDto.search_type == 2}">제목</option>
                                <option th:value="3" th:selected="${searchDto.search_type == 3}">내용</option>
                                <option th:value="4" th:selected="${searchDto.search_type == 4}">작성자</option>
                            </select>
                            <input type="text" class="search_text" name="search_text" th:value="${searchDto != null ? searchDto.search_text : ''}" placeholder="검색어를 입력하세요.">
                            <input type="hidden" name="sort" th:value="${currentSort}" />
                            <button type="submit" class="search_button">검색</button>
                        </form>
                    </div>

                    <!-- 정렬 -->
                    <div class="sort_container">
                        <form th:action="@{/admin/notice/list}" method="get">
                            <input type="hidden" name="search_type" th:value="${searchDto.search_type}" />
                            <input type="hidden" name="search_text" th:value="${searchDto.search_text}" />
                            <select name="sort" id="sort" onchange="this.form.submit()">
                                <option th:value="latest" th:selected="${currentSort == 'latest'}">최신순</option>
                                <option th:value="oldest" th:selected="${currentSort == 'oldest'}">과거순</option>
                            </select>
                        </form>
                    </div>
                </div>

                <!-- 공지사항 목록 테이블 -->
                <table class="employee_table">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성일자</th>
                            <th>작성자</th>
                        </tr>
                    </thead>

                    <tbody>
                        <th:block th:if="${#lists.isEmpty(noticeList)}">
                            <tr>
                                <td colspan="6">조회된 목록이 없습니다.</td>
                            </tr>
                        </th:block>
                        
                        <th:block th:if="${!#lists.isEmpty(noticeList)}">
                            <tr th:each="notice, iterStat : ${noticeList}" th:data_notice_no="${notice.notice_no}" class="member_row">
                                <td th:text="${iterStat.index + 1}"></td>
                                <!-- 중요한 공지사항일 경우 제목 앞에 <중요> 추가 및 빨간색 적용 -->
                                <td>
                                    <span th:if="${notice.notice_importance == 1}" style="color: red; font-weight: bold;">[중요] </span>
                                    <span th:text="${notice.notice_title}"></span>
                                </td>
                                <td th:text="${notice.notice_create_date}"></td>
                                <td th:text="${notice.member_name}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>

                <!-- 페이지네이션 -->
                <div class="pagination">
                    <th:block th:if="${page.totalElements > 1}">
                        <button th:if="${page.number > 0}" th:onclick="|location.href='@{/admin/notice/list(page=0, search_type=${searchDto?.search_type}, search_text=${searchDto?.search_text}, sort=${currentSort})}'|">&lt;&lt;</button>
                        <button th:if="${page.hasPrevious()}" th:onclick="|location.href='@{/admin/notice/list(page=${page.number - 1}, search_type=${searchDto?.search_type}, search_text=${searchDto?.search_text}, sort=${currentSort})}'|">&lt;</button>
                        
                        <span th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                            <button th:classappend="${i == page.number} ? 'active'" th:onclick="|location.href='@{/admin/notice/list(page=${i}, search_type=${searchDto?.search_type}, search_text=${searchDto?.search_text}, sort=${currentSort})}'|" th:text="${i + 1}"></button>
                        </span>

                        <button th:if="${page.hasNext()}" th:onclick="|location.href='@{/admin/notice/list(page=${page.number + 1}, search_type=${searchDto?.search_type}, search_text=${searchDto?.search_text}, sort=${currentSort})}'|">&gt;</button>
                        <button th:if="${page.number < page.totalPages - 1}" th:onclick="|location.href='@{/admin/notice/list(page=${page.totalPages - 1}, search_type=${searchDto?.search_type}, search_text=${searchDto?.search_text}, sort=${currentSort})}'|">&gt;&gt;</button>
                    </th:block>

                    <th:block th:if="${page.totalElements == 1}">
                        <button class="active">1</button>
                    </th:block>
                </div>
            </div>
        </section>
    </th:block>
</html>
