@charset "UTF-8";
 
.page_title {
	font-size: 2.2rem; 
    width: auto;
    align-self: flex-start;
    margin : 20px 0 0 60px;
    color: #333;
    font-weight: bold;
}
 
.container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;  
    gap: 20px;  
    padding : 20px 60px;
}

.permission_list_box {
    width: 25%;  
    border-right: 1px solid #ccc;
    padding-right: 20px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.member-section {
    width: 75%; 
    padding : 0 30px 30px 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
} 
 
.permission_title {
    font-size: 1.3rem;
    color: #333;
    font-weight: 600;
    padding : 10px 0 15px 30px;
}
 
.permission_Lists {
    list-style: none;
    padding-left : 20px;
    margin: 0;
}

.permission_Lists li {
    margin: 10px 0;
}

.permission_Lists a {
    text-decoration: none;
    font-weight : 400;
    color: #2994da;
    font-size: 1rem;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.permission_Lists a:hover {
    background-color: #e9ecef;
    color: #163e65;
}

.permission_Lists a.selected {
    background-color: #e9ecef;
    color: #163e65;
}

#sectionTitle {
    font-size: 1.3rem;
    color: #333;
    font-weight: 600;
    padding : 25px 0 15px 0;
} 

.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
    flex-wrap: wrap; 
    gap: 10px; 
}

.left-buttons {
    display: flex;
    gap: 10px;  
    flex-grow: 1; 
}

#deleteButton {
	width : 110px;
    padding: 8px 16px;
    background-color: #dc3545;
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#deleteButton:hover {
    background-color: #c82333;
}

#deleteButton:disabled {
    background-color: #d3d3d3;  
    color: #a9a9a9; 
    cursor: not-allowed;
} 

#searchMember {
	width : 250px;
	padding : 0 20px;
}

#openModalButton {
	width : 110px;
    padding: 8px 16px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; 
    min-width: 100px;  
    max-width: 180px; 
    flex-shrink: 0;  
    font-size : 13px;
}

#openModalButton:hover {
    background-color: #003a82;
}

.employee_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

.employee_table th, .employee_table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.employee_table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

.employee_table tr:last-child td {
    border-bottom: none;
}

.employee_table tbody tr:hover {
    background-color: #f5f5f5;
}
 
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 13px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #e9ecef;
}

.pagination button.active {
    background-color: #0056b3;
    color: white;
    border-color: #0056b3;
}
 
.organization_search {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 22px);
    margin-bottom: 15px;
} 

.permission_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
} 

.permission_table th, .permission_table td {
	padding: 11px 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

.permission_table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
}

.permission_table tr:last-child td {
    border-bottom: none;
}

.permission_table tbody tr {
    transition: background-color 0.3s;
}

.permission_table tbody tr:hover {
    background-color: #f5f5f5;
}

.sort-buttons {
    text-align: right;  
    margin-bottom: 15px;
} 
 
input[type=checkbox] {
	zoom: 1.3;
} 

.jstree-search { 
    font-style: normal !important;
    color: #0059ff !important; 
}