@charset "UTF-8";

.document_box_type{
	display: flex;
    height: 95%;
}
.document_file_list{
	border-radius: 20px;
    margin: 1.2vw;
	background-color: white;
	width: 95%;
	height: 90%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}