@charset "UTF-8";

#title h1{
	font-size: 2rem;
    width: auto; 
    align-self: flex-start; 
    margin-left: 50px; 
}
.document_box_type{
	display: flex;
    height: 95%;
}
.document_folder_tree{
    border-radius: 20px;
    margin: 1.2vw;
    background-color: white;
    width: 25%;
	max-width: 25%;
	height: 95%;
    max-height: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.1vw;
}
#jstree{
	margin-top: 0.5vh;
	display: flex;
}
.document_file_list{
	border-radius: 20px;
    margin: 1.2vw;
	background-color: white;
	width: 80%;
	height: 95%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tree ul {
    padding-left: 1vw;
}
#jstree input[type="checkbox"] {
    margin-right: 0.5vw;
    margin-top: 0.5vh;
    width: 1vw;
}
.document_no_folder {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
}
#document_no_folder_msg {
    text-align: center;
    font-size: 1.7vw;
}
#add-folder-button {
    border: none;
    background-color: white;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    cursor: pointer;
}

