@charset "UTF-8";

.document_folder_list{
	display: flex;
    height: 95%;
    width: 100%;
    overflow: hidden; 
}
.document_folder_tree{
	border-radius: 20px;
    margin: 1vw;
    padding: 1vw;
    background-color: #fefefe;
    width: 18%;
	height: 71.3vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.1vw;
    overflow-y: auto;
}
#tree{
	font-size: 0.8vw;
	display: block;
	height: 75%;
}
.jstree-closed > .jstree-icon::before{
    content: '';  
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url('/img/org_plus.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
 
.jstree-open > .jstree-icon::before{
    content: ''; 
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url('/img/org_minus.png');
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
} 
.document_no_folder{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
}
#document_no_folder_msg{
    text-align: center;
    font-size: 1.3vw;
    cursor: pointer;
}
#first_folder_add{
    border: none;
    background-color: #fefefe;
    width: 2.3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3vw;
    cursor: pointer;
}
.folder_buttons{
	height: 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box_size{
	height: 10%;
	margin: 0.5vh 0 0 1vw;
	font-size: 0.8vw;
}
#cloud{
	width: 1vw;
	height: 2vh;
	margin-top: 0.2vh;
}
.current_size_percent{
	display: flex;	
	align-items: center;
}
#print_size{
	margin-top: 0.3vh;
	margin-left: 0.3vw;
}
.size_bar{
	width: 95%;
	margin-right: 1vw;
	margin-top: 1vh;
}
#bar_background {
    width: 100%;
    height: 1vh;
    background-color: lightgray;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
#bar_foreground {
    height: 100%;
    background-color: #4E597E;
    transition: width 0.3s ease;
    border-radius: 20px;
}
#current_size_text{
	width: 100%;
	margin-top: 1vh;
}
#folder_delete_button{
	margin-left: 1vw;
    padding: 0.6vh 0.7vw;
    background-color: #EEB3B3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 0.65vw;
    width: 3.5vw;
    height: 3.3vh;
    text-align: center;
}
#folder_delete_button:hover{
    background-color: #e07676;
}
#folder_delete_button:active{
    transform: scale(0.98);
}
#folder_add_button{
	margin-right: 1vw;
    padding: 0.6vh 0.7vw;
    background-color: #B1C2DD;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 0.65vw;
    width: 3.5vw;
    height: 3.3vh;
    text-align: center;
}
#folder_add_button:hover{
    background-color: #9CAFC7;
}

#folder_add_button:active{
    transform: scale(0.98);
}
.document_file_div{
	border-radius: 20px;
	background-color: #fefefe;
	width: 80%;
	height: 75vh;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 1vw;
}
.document_no_file{
	display: flex;
	align-items: center;
    justify-content: center; 
    height: 100%;
    position: relative;
} 
#document_first_msg{
	text-align: center;
    font-size: 1.7vw;
}
.document_file_list{
	height: 100%;
	margin: 1.3vh 1.2vw;
	font-size: 1vw;
}
.document_search{
	height: 3vw;	
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.search_range{
	display: flex;
	width: 30vw;
}
#range{
	margin-top: 1.7vh;
}
.range_calendar{
	margin-left: 0.5vw;	
}
#start_date, #end_date{
	margin-top: 0.6vh;
	height: 2.7vh;
	width: 8vw;
	font-size: 0.8vw;
	margin-right: 1vw;
	margin-left: 10px;
    padding: 0.5vh 0.5vw;
	border: 1px solid #ddd;
    border-radius: 4px;
}
#start_date:focus, #end_date:focus{
    outline: none;
    border-color: #B1C2DD;
}
#start_date{
	margin-right: 0.5vw;
}
#end_date{
	margin-left: 0.5vw;
}
.search_name{
	margin-left: 2vw;
	width: 23vw;
	display: flex;
    justify-content: center; 
}
#name_select{
	width: 5.3vw;
	height: 4vh;
	margin-top: 0.5vh;
	padding: 0.5vh 0.5vw;
	border-radius: 2px;
	font-size: 0.8vw;
	border: 1px solid #ddd;
    border-radius: 4px;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="%23333" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: left 3.7vw center;
    transition: border-color 0.3s;
}
#file_name{
	margin-top: 1.7vh;
}
#file_name_input{
	margin: 0.6vh 0 0 1vw; 
	width: 12vw;
	height: 2.7vh;
	font-size: 0.9vw;
	padding: 0.5vh 0 0.5vh 0.5vw;
	border: 1px solid #ddd;
    border-radius: 4px;
}
#file_name_input:focus{
    outline: none;
    border-color: #B1C2DD;
}
#search_button{
	margin: 0.7vh 0 0 0.5vw;
    padding: 1vh 0.8vw;
    background-color: #B1C2DD;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 0.8vw;
    width: 3.8vw;
    height: 3.8vh;
    display: flex;
    text-align: center;
    justify-content: center;
}
#search_button:hover{
    background-color: #9CAFC7;
}

#search_button:active{
    transform: scale(0.98);
}
.folder_name_div{
	display: flex;
	height: 4.5vh;
	align-items: center;
}
#folder_name{
	margin-right: 1vw;
	font-size: 1.3vw;
}
#change_name_button{
	margin-right: 0.5vw;
    padding: 0.2vh 0.2vw;
    background-color: #B3C7EE;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 0.65vw;
    width: 3.7vw;
    height: 2.8vh;
    text-align: center;
}
#change_name_button:hover{
    background-color: #9CAFC7;
}
#change_name_button:active{
    transform: scale(0.98);
}
.upper_list_div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.5vh;
}
.select_button{
	display: flex;
}
#select_delete{
	margin-right: 0.5vw;
	margin-top: 0.4vh;
    padding: 0.5vh 0.5vw;
    background-color: #EEB3B3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 0.65vw;
    width: 3.7vw;
    height: 2.8vh;
    text-align: center;
}
#select_delete:hover{
    background-color: #e07676;
}
#select_delete:active{
    transform: scale(0.98);
}
#select_down{
	margin-left: 0.5vw;
	margin-top: 0.4vh;
    padding: 0.5vh 0.5vw;
    background-color: #B1C2DD;
    border: none;
    border-radius: 0.65vw;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 0.65vw;
    width: 3.7vw;
    height: 2.8vh;
    text-align: center;
}
#select_down:hover{
   background-color: #9CAFC7; 
}
#select_down:active{
    transform: scale(0.98);
}
#div_hr{
	height: 2vh;
}
.upload_and_sort{
	display: flex;
	align-items: center;
}
#upload_button{
	margin-right: 0.5vw;
	margin-top: 0.3vh;
    padding: 0.5vh 0.5vw;
    background-color: #B1C2DD;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 0.65vw;
    width: 3vw;
    height: 2.8vh;
    text-align: center;
}
#upload_button:hover{
    background-color: #9CAFC7;
}

#upload_button:active{
    transform: scale(0.98);
}
#sort_select{
	width: 5vw;
	height: 3.3vh;
	margin-top: 0.2vh;
	margin-right: 1vw;
    padding: 0.5vh 0.5vw;
	border-radius: 2px;
	font-size: 0.8vw;
	border: 1px solid #ddd;
    border-radius: 4px;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="%23333" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: left 3.5vw center;
    transition: border-color 0.3s;
}
#sort_select:focus, #name_select:focus{
    outline: none;
    border-color: #B1C2DD;
}
.file_table{
	margin-top: 1vh;
	width: 100%;
	align-items: center;
    justify-content: center;
    text-align: center;
	border-collapse: collapse;
	table-layout: fixed; 
	height: 52vh;
	border-top: 2px solid #ddd;
}
.file_table td { 
	padding: 0.3vh;
    text-align: center;
	border-top: 1px solid #ddd;
}
.file_table th {
	height: 2.7vh;
	padding: 0.8vh;
    text-align: center;
    border-bottom: 2px solid gray;
    font-size: 0.9vw;
}
.file_table tbody tr {
    height: 4.5vh; 
    vertical-align: middle; 
    font-size: 0.8vw;
}

#table_foot{
	border-top: solid 2px gray;
}
.file_show_button{
    cursor: pointer;
    width: 1.1vw;
    text-align: center;
    fill: #515151;	
 }
.file_down_button{
    cursor: pointer;
    width: 1vw;
    text-align: center;
    fill: #515151;  	
}
.delete_button{
    cursor: pointer;
    width: 0.9vw;
    text-align: center;
    fill: #515151;    
}
.delete_button:hover, .file_down_button:hover, .file_show_button:hover{
    fill: #C0C0C0;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.pagination_button {
	width: 35px;
	height: 33px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.pagination_button:hover {
	color: white;
    background-color: #e9ecef;
}
.pagination_button.active{
	background-color: #B1C2DD;
    color: white;
    border-color: #B1C2DD;
}
.go_first_page_button, .go_last_page_button{
    width: 45px;
	height: 33px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.go_first_page_button:hover, .go_last_page_button:hover{
    color: white;
    background-color: #e9ecef;
}
/* 모달 css */
.modal_name{
	height: 50px;
	border-bottom: 0.7px solid gray;
	margin-left: 5px;
	margin-top: -50px;
	font-size: 22px;
	font-weight: bold;
}
.modal_div{
	display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
}
.first_folder_add_modal, .change_name_modal,
.folder_create_modal, .file_upload_modal{
	position: fixed;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    background: #fefefe;
    border: 1px solid #888;
    z-index: 1000;
    width: 360px;
    height: 240px;
    padding: 30px;
    border-radius: 5px;
    align-items: center;
}
.first_folder_add_div, .change_folder_name_div,
.folder_create_div, .file_upload_div{
	text-align: center;
	height: 30px;
	margin-top: 40px;
}
.folder_button_div{
	display: flex;
	justify-content: right;
	margin-top: 40px;
}
.cancel_div{
	display: flex;
	justify-content: right;
	height: 20%;
	font-size: 30px;
	cursor: pointer;
	color: #888;
}
.cancel_div:hover{
	color: black;
}
#first_folder_name, #change_folder_name, #create_folder_name{
	width: 95%;
	height: 100%;
	font-size: 15px;
}
#file_input::file-selector-button {
    background-color: #B1C2DD;
    height: 100%;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 10px; 
    cursor: pointer;
}
#file_input{
	margin-left: 5px;
    width: 98%;
    height: 30px;
}
#first_folder_add_button, #folder_name_change_button, #folder_create_button,
#file_upload_button{
	margin-right: 0.5vw;
	margin-top: 0.4vh;
    padding: 0.5vh 0.5vw;
    background-color: #B1C2DD;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 15px;
    width: 55px;
    height: 35px;
    text-align: center;
}
#first_folder_add_button:hover, #folder_name_change_button:hover,
#folder_create_button:hover, #file_upload_button:hover{
    background-color: #9CAFC7;
}
#first_folder_add_button:active, #folder_name_change_button:active,
#folder_create_button:active, #file_upload_button:active{
    transform: scale(0.98);
}
#file_limit_div{
	font-size: 12px;
	color: red;
	margin: 10px 0 0 8px;
}
.file_button_div{
	display: flex;
	justify-content: right;
	margin-top: 5%;
}
.swal2-confirm {
	background-color: #B1C2DD;
	color: black;
}
.swal2-cancel{
	background-color: #C0C0C0;
	color: black;
}