<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerLayout">
    <link th:href="@{/css/include/header.css}" rel="stylesheet" type="text/css">
     <script th:src="@{/js/include/header.js}"></script>
    <header>
         <div id="header_wrap">
            <div class="header_logo">
                <img th:src="@{/img/linkoffice_logo.png}" alt="LinkOffice Logo" class="header_logo_img"/>
            </div>

            <div class="session_time">
                <span id="session-time">남은 시간: 30:00</span>
            </div>

            <form method="post" th:action="@{/logout}" class="logout_form">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="submit" value="로그아웃">
            </form>
        </div>
    </header>
</th:block>
</html>
