<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerLayout">
    <link th:href="@{/css/include/header.css}" rel="stylesheet" type="text/css">
    <header>
        <div style="display:none;" th:each = "member : ${memberdto}">
            <input type ="hidden" id="headerCurrentMember" th:value="${member.member_no}"/>
        </div>
         <div id="header_wrap">
            <div class="header_logo">
                <a th:href="@{/}"> 
                    <div class="header_logo_text">LINK OFFICE</div>
                </a>
            </div>
             <div class="user_session_container">
                 <div class="session_time">
                     <span id="session-time">30:00</span>
                 </div>
             </div>
            <div class="user_logout_container">

                <div class="user_image" id="userImage">
                    <img th:src="@{/img/user_profile.png}" class="user_photo"/>
                    <ul class="dropdown_menu" id="dropdownMenu">
                        <li><a href="#">마이페이지</a></li>
                        <li><a href="#">정보 수정</a></li>
                        <li><a href="#">서명 등록</a></li>
                    </ul>
                </div>
                <div class="bell" id="notification-bell">
                    <i class="fa-regular fa-bell" style ="marin-right: 20px; font-size: 20px; color:#0000007a;"></i>
<!--                    <span id="unread-bell-count" class="badge"></span>-->
                    <!--통합 알림 모달-->
                    <div class="notification-bell-wrapper">

                        <ul id="notification-bell-modal" class="notification-bell-modal">
                            <!-- 알림 내용 동적 -->
                            <li id="mark-as-read" class="mark-as-read" style="font-size: 10px; text-align: right; color: gray;">일괄읽음</li>
                        </ul>

                    </div>
                </div>


                <form method="post" th:action="@{/logout}" class="logout_form">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit" class="logout_button">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                </form>
            </div>

        </div>
    </header>

    <script th:src="@{/js/include/header.js}"></script>
</th:block>
</html>
