<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>LinkOffice</title> 
</head>
<body>
    <th:block th:replace="~{include/header :: headerLayout}"></th:block>
    <div id="main-content">
        <th:block th:replace="~{include/nav :: navLayout}"></th:block>
        <th:block layout:fragment="content">
        </th:block>
    </div>
    <th:block th:replace="~{include/footer :: footerLayout}"></th:block>
</body>
<script th:src="@{/js/include/nav.js}"></script>
</html>