<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/layout}">
     <meta charset="UTF-8">
     <th:block layout:fragment="content">
       	<link th:href="@{/css/member/mypage.css}" rel="stylesheet" type="text/css">
       	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
	<section>
       <div class="content">
        <h1>내 정보</h1>
        <div class="profile-card">
            <div class="profile-header">
                <div class="profile-image">
                    <img id="profileImage" src="" alt="프로필 이미지" onerror="this.style.display='none'; this.nextElementSibling.style.display='block';">
                    <svg style="display:none;" width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21" stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <dl class="profile-details">
                    <dt>사번</dt>
                    <dd>24089361</dd>
                    <dt>사용자</dt>
                    <dd>박지연</dd>
                    <dt>주민번호</dt>
                    <dd>000512-*******</dd>
                    <dt>부서명</dt>
                    <dd>마케팅</dd>
                    <dt>직위</dt>
                    <dd>사원</dd>
                    <dt>입사일</dt>
                    <dd>2024-08-23</dd>
                    <dt>퇴사일</dt>
                    <dd>-</dd>
                    <dt>전화번호</dt>
                    <dd>010-1234-5678</dd>
                    <dt>내선번호</dt>
                    <dd>02-123-456</dd>
                    <dt>주소</dt>
                    <dd>경기도 부천시 원미로 123번길 ***</dd>
                </dl>
            </div>
        </div>
    </div>
    </section>
     </th:block>
</html>
