
.create_notice {
 	 position: relative;
	width: 100%;
	width: 1250px;
	margin:-10px auto;
	padding: 70px 30px 70px;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

input[type="file"] {
    color: black;
    border: none;
     margin-left: -10px;
    padding: 5px 10px; 
    cursor: pointer; 
}

input[type="file"]::file-selector-button {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px; 
    cursor: pointer;
}
.header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.header label {
	font-size: 1.2em;
	font-weight: bold;
	margin-right: 10px;
}

.header .important-text {
	color: red;
	font-weight: bold;
	margin-right: 10px;
}

.header input[type="text"] {
	padding: 5px;
	font-size: 1em;
	width: 300px;
	margin-right: 10px;
}

.important-box {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.important-box label {
	margin-right: 5px;
}

.info {
	margin-bottom: 10px;
}

.info label {
	margin-right: 10px;
}

#editor {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    min-height: 300px;
    background-color: white;
    cursor: text; 
}

#editor-container {
    height: 300px;
    overflow-y: auto;
}

.ql-editor {
    overflow-y: auto;
    max-height: 300px;
    min-height: 300px; 
    cursor: text; 
}


#editor:focus {
    outline: none; 
}


.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.buttons .confirm-btn, .buttons .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.buttons .confirm-btn {
    background-color: #0056b3; 
    color: white;
}


.buttons .cancel-btn {
    background-color: #f8f9fa; 
    color: black;
    border : 1px solid #ddd;
	border-radius: 4px;
}


.buttons .confirm-btn:hover, .buttons .cancel-btn:hover {
    background-color: #e9ecef; 
}