@charset "UTF-8";

header {
    width: 100%;
    background-color: #4E597E;
    height: 60px;
}

#header_wrap {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
}

.header_logo_img {
    max-height: 40px;
}

.logout_form {
    margin-left: auto;
}
