@charset "UTF-8";

/* 눈누 폰트 */
/* 레페리포인트 */
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
   display: none;
}

#main-wrapper {
    display: flex;
    flex: 1;

}

#content-footer-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
     background-color: #f5f7fa; 
}

#main-content {
    display: flex;
    flex: 1;
}

section {
    flex: 1;
    padding: 20px;
    gap: 15px;
    min-height: 680px;
}

/* 정렬 select box 공통 디자인 */
.all_sort_select_box {
	width : 110px;
	padding: 8px 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #B1C2DD;
}

input { 
    border: 1px solid #ddd;
    border-radius: 6px; 

    transition: border-color 0.3s;
} 

/* 내부 페이지 제목 공통 디자인 */
h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    width: auto;
    align-self: flex-start;
    margin-left: 60px;
    color: #333;
}

