@charset "UTF-8";

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;  
    margin-bottom: 20px;
    text-align: center;
}

#pwVerifyFrm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

#pwVerifyFrm label {
    margin-right: 10px;
}

#pwVerifyFrm input[type="password"] {
    width: 130px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
}
#pwVerifyFrm input[type="password"] {
    width: 130px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
}

#pwVerifyFrm input[type="password"]:focus {
    outline: none;
    border-color: #B1C2DD;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#pwVerifyFrm button {
    margin-left: 10px;
   	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: #B1C2DD;
}

.my_profile {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile_card {
	background-color: #f8f9fa;
	border-radius: 12px;
	max-width: 900px;
	width: 100%;
	min-height: 400px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 60px 20px 80px; 
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative; 
}

.profile_header {
	display: flex;
	align-items: flex-start;
	margin-right: 290px;
}

.profile_header_left{
	margin-left: 20px;
}
.profile_img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.profile_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.file_info {
    color: red;
 	font-size: 0.7rem;
}

.upload_button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #C0C0C0;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    gap: 5px; 
}

.profile_details {
	display: flex;
	flex-direction: column;
	gap: 35px;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 20px;
}

.profile_details li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
}

.divider {
	width: 100%;
	border: 0;
	border-top: 1px solid #ddd;
}

.profile_details.paired {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px 40px;
	width: 70%;
	margin-left: 310px;
}

.profile_details.paired li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
}

.profile_detail_address {
	display: flex;
	gap: 20px;
	flex-wrap: wrap; 
	padding: 0;
	margin: 0;
	list-style: none;
	margin-left: 290px;
	margin-top: 20px;
}

#new_pw {
	width: 87%;
}

.profile_detail_address label {
	margin-right: 20px;
	margin-bottom: 5px;
	font-weight: bold;
}

.input_address {
	padding: 8px;
	border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;
}

.input_address:focus {
    outline: none;
    border-color: #B1C2DD;
}

.input_pw_container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input_pw {
    width: 43%;
    padding-right: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;
}

.input_pw:focus {
    outline: none;
    border-color: #B1C2DD;
}

.toggle_icon {
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
}

#pwShow {
    display: none;
}

.button_container {
	display: flex;
	gap: 10px;
	position: absolute;
	bottom: 20px;
	left: auto; 
	right: 20px; 
	margin-left: 30px;
}

.address_button, .edit_button, .cancel_button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.address_button {
	background-color: #B1C2DD;
}

.edit_button {
	background-color: #B1C2DD;
}

.cancel_button {
	background-color: #C0C0C0;
}
