.my_profile {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.my_profile h1 {
	font-size: 2rem;
	margin-bottom: 20px;
	width: auto;
	align-self: flex-start;
	margin-left: 100px;
}

.profile_card {
	background-color: #f8f9fa;
	border-radius: 12px;
	max-width: 900px;
	width: 100%;
	min-height: 400px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 60px 20px 80px; 
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative; 
}

.profile_header {
	display: flex;
	align-items: flex-start;
	margin-right: 290px;
}

.profile_header_left{
	margin-left: 20px;
}
.profile_img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.profile_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.file_info {
    color: red;
 	font-size: 0.7rem;
}

.btn_upload {
    display: inline-block;
    padding: 10px 15px;
    background-color: #C0C0C0;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    gap: 5px; 
}

.profile_details {
	display: flex;
	flex-direction: column;
	gap: 35px;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 20px;
}

.profile_details li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
}

.divider {
	width: 100%;
	border: 0;
	border-top: 1px solid #ddd;
}

.profile_details.paired {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px 40px;
	width: 70%;
	margin-left: 310px;
}

.profile_details.paired li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
}

.profile_detail_address {
	display: flex;
	gap: 20px;
	flex-wrap: wrap; 
	padding: 0;
	margin: 0;
	list-style: none;
	margin-left: 290px;
	margin-top: 20px;
}

.profile_detail_address li {
	width: 87%;
}

.profile_detail_address label {
	margin-right: 20px;
	margin-bottom: 5px;
	font-weight: bold;
}

.input_address {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
}

.input_pw_container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input_pw {
    width: 43%;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
}

.toggle_icon {
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
}

#pwShow {
    display: none;
}

.form_buttons {
	display: flex;
	gap: 10px;
	position: absolute;
	bottom: 20px;
	left: auto; 
	right: 20px; 
	margin-left: 30px;
}

.btn_address, .btn_update, .btn_cancel {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn_address {
	background-color: #B1C2DD;
}

.btn_update {
	background-color: #B1C2DD;
}

.btn_cancel {
	background-color: #C0C0C0;
}
