@charset "UTF-8";
.my_profile {
    position: relative; 
    padding: 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my_profile h1 {
    font-size: 2rem;
    margin-bottom: 20px; 
    text-align: center; 
    width: auto; 
    max-width: calc(100% - 80px); 
}
.profile_card {
    background-color: #f8f9fa;
    border-radius: 12px; 
    max-width: 800px; 
    width: 100%;
    min-height: 400px; 
    margin-top: 60px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}
.profile-header {
    display: flex;
    align-items: center; 
    flex: 1; 
    gap: 40px; /* 이미지와 텍스트 사이의 간격 증가 */
}
.profile_img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    background-color: #ddd;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
}
.profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-details {
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    padding: 0; 
    margin: 0; 
    list-style: none; 
}
.profile-details li {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
}
.profile-details strong {
    font-weight: bold;
    font-size: 0.9rem; 
}
.profile-details span {
    line-height: 1.5;  
    font-size: 0.9rem;  
    margin-left: 10px;
}