<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
    <th:block layout:fragment="content">
        <link th:href="@{/css/employee/vacationapproval/vacationapproval_create.css}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.css">
        <section th:each="member : ${memberdto}">
            <h1>휴가 신청하기</h1>
            <div class="container">
                <form id="vacAppCreateFrm">
                    <div class="main_container">
                        <div class="editor-container editor-container_classic-editor">
                            <div class="form-group">
                                <input type="hidden" id="csrf_token" th:value="${_csrf.token}" name="_csrf" />
                                <input type="hidden" id="member_no" th:value="${member.member_no}" name="member_no" />
                                <div>
                                    <strong>제목</strong>
                                    <input type="text" id="vacationapproval_title" name="vacationapproval_title">
                                </div>
                                <div>
                                    <strong>종류</strong>
                                    <select name="vacationtype">
                                        <option th:each="vacationType : ${vacationTypeList}" th:value="${vacationType.vacation_type_no}" th:text="${vacationType.vacation_type_name}"></option>
                                    </select>
                                </div>
                                <div>
                                    <strong>기간</strong>
                                    <input type="date" id="vacationapproval_start_date" name="vacationapproval_start_date">
                                    <span> ~ </span>
                                    <input type="date" id="vacationapproval_end_date" name="vacationapproval_end_date">
                                </div>
                                <div>
                                    <strong>일수</strong>
                                    <input type="text" id="vacationapproval_date_count" name="vacationapproval_date_count">
                                </div>
                            </div>
                            <div class="editor-container__editor" id="editor"></div>
                            <div class="button_container">
                                <button type="button" class="submit_button">신청</button>
                                <button type="button" class="cancel_button" onclick="redirectList()">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.1.0/"
            }
        }
        </script>
        <script type="module" th:src="@{/js/employee/vacationapproval/vacationapproval_create.js}"></script>
    </th:block>
</html>
