<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
    <th:block layout:fragment="content">
        <link th:href="@{/css/employee/vacationapproval/vacationapproval_detail.css}" rel="stylesheet" type="text/css">
        <section>
            <h1>휴가 신청 조회</h1>
            <div class="container">
            	<input type="hidden" id="csrf_token" th:value="${_csrf.token}" name="_csrf" />
            	<input type="hidden" id="vacationapproval_no" th:value="${vacationapprovaldto.vacation_approval_no}" >
                <div class="main_container">
                	<div class="title_button_container">
               			<button type="button" id="previewButton" class="preview_button">미리보기</button> 
                        <p class="vacation_title">휴가 신청서</p>
                	</div>
						<div class="approval_line_section">
						    <table class="approval_line_table">
						        <tr>
						            <th rowspan="3">결재</th>
						            <td>
						                <div >
						                    <span th:text="${vacationapprovaldto.member_position}"></span>
						                </div>
						            </td>
						            <td th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_role == 2}">
						                <div >
						                    <span th:text="${flow.member_position}"></span>
						                </div>
						            </td>
						        </tr>
						        <tr>
						            <td>
						                <div class="signature_box">
						                    <img th:if="${vacationapprovaldto.digitalname != null}" 
						                         th:src="@{'/linkOfficeImg/member/digital/'+${vacationapprovaldto.digitalname}}" 
						                         alt="기안자 서명" class="currentSignature">
						                    <span th:if="${vacationapprovaldto.digitalname == null}" 
						                          class="currentSignature" th:text="${vacationapprovaldto.member_name}"></span>
						                </div>
						                     <div class="date_box" th:text="${vacationapprovaldto.format_vacation_approval_create_date}"></div>
						            </td>
						            <td th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_role == 2}">
						                <div class="signature_box">
						                    <img th:if="${flow.vacation_approval_flow_status == 2 and flow.digital_name != null}" 
						                         th:src="@{'/linkOfficeImg/member/digital/' + ${flow.digital_name}}" 
						                         alt="현재 서명" class="currentSignature">
						                    <span th:if="${flow.vacation_approval_flow_status == 2 and flow.digital_name == null}" 
						                          class="currentSignature" th:text="${flow.member_name}"></span>
											<span th:if="${flow.vacation_approval_flow_status != 2 and (vacationapprovaldto.vacation_approval_status != 2 or flow.vacation_approval_flow_status == 3)}" 
											      class="approval_status" th:classappend="${flow.vacation_approval_flow_status == 3 ? 'rejected' : 'pending'}" 
											      th:text="${flow.vacation_approval_flow_status == 3 || vacationapprovaldto.vacation_approval_status == 2 ? '반려' : '대기중'}">
											</span>
						                </div>
						                 <div class="date_box" th:if="${flow.vacation_approval_flow_status != 0 and flow.vacation_approval_flow_status != 1}"
									    th:text="${flow.format_vacation_approval_flow_complete_date}"></div>
						            </td>
						        </tr>
						        <tr>
						            <td>
						                <div  th:text="${vacationapprovaldto.member_name}"></div>
						               
						            </td>
						            <td th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_role == 2}">
						                <div th:text="${flow.member_name}"></div>
						            </td>
						        </tr>
						        <tr>
						            <th>합의</th>
						            <td th:colspan="${#lists.size(vacationapprovaldto.flows)+1}">
						                <div class="reference_box">
						                    <div th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_role == 1}">
						                        <span th:text="${flow.member_name}"></span>
						                        <span th:if="${flow.vacation_approval_flow_status == 2}" class="approved">(승인)</span>
						                        <span th:if="${flow.vacation_approval_flow_status == 3}" class="rejected">(반려)</span>
						                    </div>
						                </div>
						            </td>
						        </tr>
						        <tr>
						            <th>참조</th>
						            <td th:colspan="${#lists.size(vacationapprovaldto.flows)+1}">
						                <div class="reference_box">
						                    <div th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_role == 0}"
						                         th:text="${flow.member_name}"></div>
						                </div>
						            </td>
						        </tr>
						    </table>
						</div>
                            <div class="field">
                                <div id="vacationapproval_title" th:text="${vacationapprovaldto.vacation_approval_title}"></div>
                            </div>


                        
                    <div class="content_section">
                        <div class="vacationapproval_content">
                            <div class="table_container" th:utext="${vacationapprovaldto.vacation_approval_content}"></div>
                        </div>
                    </div>
                        <div class="field">
                            <div th:if="${vacationapprovaldto != null and !#lists.isEmpty(vacationapprovaldto.files)}">
                                <div th:each="file : ${vacationapprovaldto.files}" class="file_item">
                                    <strong> 등록 파일 </strong>
                                    <div th:if="${file.vacation_approval_file_ori_name != null and !file.vacation_approval_file_ori_name.isEmpty() and 
                                                  (file.vacation_approval_file_ori_name.endsWith('.pdf') or 
                                                   file.vacation_approval_file_ori_name.endsWith('.xls') or 
                                                   file.vacation_approval_file_ori_name.endsWith('.xlsx') or
                                                   file.vacation_approval_file_ori_name.endsWith('.png') or 
                                                   file.vacation_approval_file_ori_name.endsWith('.jpg') or 
                                                   file.vacation_approval_file_ori_name.endsWith('.jpeg'))}" class="file_info">
                                        <a th:href="@{/download_vacation_file/{no}(no=${vacationapprovaldto.vacation_approval_no})}"
                                           th:text="${file.vacation_approval_file_ori_name}"></a>
                                        <p th:text="${'파일 크기: ' + file.vacation_approval_file_size + ' KB'}"></p>
                                    </div>
                                </div>
                            </div>
                            
							<div th:if="${vacationapprovaldto.vacation_approval_cancel_reason != null}" id="vacationapproval_cancel_reason">
							    <strong>기안 취소 사유</strong>
							    <div th:text="${vacationapprovaldto.vacation_approval_cancel_reason}"></div>
							</div>
		
							<div th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_reject_reason != null}" id="vacationapproval_flow_reject_reason">
								 <strong>반려 사유</strong>
								<div th:text="${flow.vacation_approval_flow_reject_reason}"></div>
							</div>	
					
                            <div th:if="${vacationapprovaldto == null or #lists.isEmpty(vacationapprovaldto.files)}">
                                <p>등록된 파일이 없습니다.</p>
                            </div>
                        </div>

                    <div class="button_container">
                    	<button type="button" class="cancel_button" th:if="${vacationapprovaldto.vacation_approval_status == 0}" onclick="vacationCancel()">기안 취소</button>
		                <a th:if="${#lists.size(vacationapprovaldto.flows) > 0 and vacationapprovaldto.flows[0].vacation_approval_flow_status == 1 and vacationapprovaldto.vacation_approval_status == 0}" 
		                   th:href="@{/employee/vacationapproval/edit/{no}(no=${vacationapprovaldto.vacation_approval_no})}" 
		                   class="edit_button">수정</a>
                        <button type="button" class="list_button" onclick="location.href='/employee/vacationapproval/list'">목록</button>
                    </div>
                    
                    	<div id="cancelModal" class="modal" style=display:none;>
							<div class="modal_content">
								<h2>취소 사유를 입력하세요.</h2>
								<span class="close">&times;</span>
									<div class="cancel_reason_div">
									    <textarea id="cancel_reason" name="cancel_reason"></textarea>
									</div>
									<div class="modal_button">
										<button type="submit" id="confirm_cancel_button">확인</button>
									</div>
							</div>
						</div>
                </div>
            </div>
        </section>

        <script th:src="@{/js/employee/vacationapproval/vacationapproval_detail.js}"></script>
    </th:block>
</html>
