<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
<th:block layout:fragment="content">
    <link th:href="@{/css/admin/member/detail.css}" rel="stylesheet" type="text/css">
    <section th:each="member : ${memberDtoList}">
        <div class="my_profile">
            <h1>사원 정보</h1>
            <div class="profile_card">
                <div class="profile_header">
                    <div class="profile_img">
					<img th:src="${member.member_new_profile_img != null ? '/linkOfficeImg/member/profile/' + member.member_new_profile_img : '/img/user_profile.jpg'}" alt="사원 사진" id="currentSignature">
                    </div>
                    <ul class="profile_details" >
                        <li>
                            <strong>사번</strong>
                            <span th:text="${member.member_number}"></span>
                        </li>
                        <li>
                            <strong>사용자</strong>
                            <span th:text="${member.member_name}"></span>
                        </li>
                        <li>
                            <strong>주민번호 </strong>
                            <span th:text="${#strings.concat(member.member_national.substring(0, 6), '-', member.member_national.substring(7, 8), '******')}"></span>
                        </li>
                    </ul>
                </div>
                <hr class="divider">
                <ul class="profile_details paired">
                    <li>
                        <strong>부서</strong>
                        <span th:text="${member.department_name}"></span>
                    </li>
                    <li>
                        <strong>직위</strong>
                        <span th:text="${member.position_name}"></span>
                    </li>
                    <li>
                        <strong>입사일</strong>
                        <span th:text="${member.member_hire_date}"></span>
                    </li>
                    <li>
                        <strong>퇴사일</strong>
					    <div th:if="${member.member_end_date != null}">
					        <span th:text="${member.format_end_date}"></span>
					    </div>
					    
					    <form th:if="${member.member_end_date == null}" id="endFrm">
					        <input type="hidden" id="csrf_token" th:value="${_csrf.token}" />
					        <input type="hidden" id="member_no" th:value="${member.member_no}" />
					        <button type="button" class="end_button" onclick="confirmEnd()">퇴사</button>
					    </form>
                    </li>
                    <li>
                        <strong>전화번호</strong>
                        <span th:text="${member.member_mobile}"></span>
                    </li>
                    <li>
                        <strong>내선번호</strong>
                        <span th:text="${member.member_internal}"></span>
                    </li>
                    <li id="address">
                        <strong>주소</strong>
                        <span th:text="${member.member_address}"></span>
                    </li>
                </ul>
                <div class="button_container">
				   <a th:href="@{/admin/member/edit/{no}{no=${member.member_no}}}" id="edit_button">수정</a> 
				   <button type="button" id="list_button" onclick="history.back()">목록</button>
			    </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/admin/member/detail.js}"></script>
</th:block>
</html>
