<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
  <th:block layout:fragment="content">
    <link th:href="@{/css/admin/member/list.css}" rel="stylesheet" type="text/css">
    <section>
    <!-- 수정중 -->
      <h1>사원 조회</h1>
      <div class="create_member">
        <div class="search_sort_container">
          <div class="search_container">
            <select name="department">
              <option th:each="department : ${departments}" th:value="${department.department_no}" th:text="${department.department_name}"></option>
            </select>

            <input type="text" class="search_input" placeholder="검색어 입력">
            <button class="search_button">검색</button>
          </div>

          <div class="sort_container">
            <p>최신순</p>
            <p>오래된 순</p>
          </div>
        </div>

        <table class="employee_table">
          <thead>
            <tr>
              <th>사번</th>
              <th>사원명</th>
              <th>부서명</th>
              <th>직위</th>
              <th>입사일</th>
              <th>상태</th>
              <th>상세</th>
            </tr>
          </thead>
      	  <tbody th:each="member : ${memberList}">
		    <tr>
		        <td th:text="${member.member_number}"></td>
		        <td th:text="${member.member_name}"></td>
		        <td th:text="${member.department_name}"></td>
		        <td th:text="${member.position_name}">대리</td>
		        <td th:text="${member.member_hire_date}"></td>
		        <td th:text="${member.member_status == 1 ? '퇴사' : '재직'}"></td>
		        <td><a th:href="@{/admin/member/detail/{member_no}(member_no=${member.member_no})}">상세보기</a></td>
		    </tr>
		  </tbody>
        </table>

        <div class="pagination">
          <button>&lt;&lt;</button>
          <button>&lt;</button>
          <button class="active">1</button>
          <button>2</button>
          <button>3</button>
          <button>&gt;</button>
          <button>&gt;&gt;</button>
        </div>
      </div>
    </section>

    <script th:src="@{/js/#}"></script>
  </th:block>
</html>
