<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
  <th:block layout:fragment="content">
    <link th:href="@{/css/admin/member/list.css}" rel="stylesheet" type="text/css">
    <section>
      <h1>사원 조회</h1>
      <div class="list_member">
        <div class="search_sort_container">
          <div class="search_container">
            <select name="department">
              <option value="0">부서명</option>
              <option th:each="department : ${departments}" th:value="${department.department_no}" th:text="${department.department_name}"></option>
            </select>

            <input type="text" class="search_input" placeholder="검색어 입력">
            <button class="search_button">검색</button>
          </div>

          <div class="sort_container">
            <p>최신순</p>
            <p>오래된 순</p>
          </div>
        </div>

        <table class="employee_table">
          <thead>
            <tr>
              <th>사번</th>
              <th>사원명</th>
              <th>부서명</th>
              <th>직위</th>
              <th>입사일</th>
              <th>상태</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="member : ${memberList}" th:data_member_no="${member.member_no}" class="member_row">
              <td th:text="${member.member_number}"></td>
              <td th:text="${member.member_name}"></td>
              <td th:text="${member.department_name}"></td>
              <td th:text="${member.position_name}">대리</td>
              <td th:text="${member.member_hire_date}"></td>
              <td th:text="${member.member_status == 1 ? '퇴사' : '재직'}"></td>
            </tr>
          </tbody>
        </table>

        <div class="pagination">
          <button th:if="${page.hasPrevious()}" th:onclick="|location.href='@{/admin/member/list(page=0)}'|">&lt;&lt;</button>
          <button th:if="${page.hasPrevious()}" th:onclick="|location.href='@{/admin/member/list(page=${page.number - 1})}'|">&lt;</button>
          <span th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
            <button th:class="${i == page.number} ? 'active'" 
                    th:onclick="|location.href='@{/admin/member/list(page=${i})}'|"
                    th:text="${i + 1}">
            </button>
          </span>
          <button th:if="${page.hasNext()}" th:onclick="|location.href='@{/admin/member/list(page=${page.number + 1})}'|">&gt;</button>
          <button th:if="${page.hasNext()}" th:onclick="|location.href='@{/admin/member/list(page=${page.totalPages - 1})}'|">&gt;&gt;</button>
        </div>
      </div>
    </section>

    <script th:src="@{/js/admin/member/list.js}"></script>
  </th:block>
</html>
