@charset "UTF-8";

.modal {
    display: none;
    position: fixed;
    z-index: 1050;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}
 
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #888; 
    z-index: 1060;  
    position: relative;  
    max-width: 600px;
    border-radius: 8px;
}

/* 조직도 */
.participate_modal {
    display: none;  
    position: fixed;
    z-index: 9999;
    right : 20px;
    top: 70px;
    width: 450px;
    height: 400px; 
    padding: 0;   
    justify-content: center;
    align-items: center;
}

#participate_confirmButton {
    background-color: #B1C2DD;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-top: 40px;    
} 

.participate_modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    max-height: 60vh;  
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;  
} 

.button-container {
    display: flex;
    justify-content: flex-end;  
    margin-top: 20px;
}

.participate_modal-header {
    display: flex;  
    justify-content: space-between;  
    align-items: center; 
    margin-bottom: 20px;
}

.participate_organizationchart_title {
    font-size: 18px;
    font-weight: bold;
}

.chart_close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.chart_close:hover {
    color: #000;
}
 
.remove-member {
    margin-left: 5px;
    cursor: pointer;
    color: red;
}

.remove-member:hover {
    font-weight: bold;
}

.permission_pick_list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.permission-item {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.permission-item:last-child {
    border-bottom: none;
}
 
/* 조직도 모달 내부 목록 */
 #selected-members {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  
}

.organization_search {
	margin-bottom: 15px;
	border: 1px solid #ccc;
    border-radius: 8px;
    width : 94.5%;
    padding: 10px;
    background-color: #f9f9f9;
    min-height: 10px;
}

.selected-member {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
}

.selected-member span {
    margin-right: 7px;
   	padding-left :7px;
}

.remove-member {
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 22px;
    line-height: 1; 
}

.remove-member:hover {
    font-weight: bold;
    color: #cc0000;
}  
 
.jstree-closed > .jstree-icon::before {
    content: '';  
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url('/img/org_plus.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
 
.jstree-open > .jstree-icon::before {
    content: ''; /* 기본 아이콘 제거 */
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url('/img/org_minus.png');
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
}  
 
.selected-participants {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: #e0e0e0;
    border-radius: 20px; 
    margin-bottom: 5px;
    font-size: 14px;
    width : 100px;
    color: #333;
}

.selected-participants span {
    margin-right: 7px;
   	padding-left :7px;
}