.addVacation_content {
  font-size: 1.2vw;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2vw 0;
  table-layout: fixed;
}

table,
th,
td {
  border: 0.1vw solid #ccc;
}

th,
td {
  padding: 1vw;
  text-align: center;
  overflow: hidden;
}

th {
  background-color: #f2f2f2;
}

.addVacation_button button {
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  font-size: 1.2vw;
}

.addVacation_button button:first-of-type {
  background-color: #28a745;
  color: white;
}

.addVacation_button button:last-of-type {
  background-color: #dc3545;
  color: white;
}

.addVacation_button button:hover {
  opacity: 0.8;
}

#vacationFormContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vw;
  max-width: 100%;
  overflow-x: auto;
}

.input-group {
  display: flex;
  align-items: center;
  width: 18%;
  box-sizing: border-box;
}

.input-group label {
  margin-right: 0.5vw;
  font-size: 1vw;
}

.input-group input {
  flex-grow: 1;
  width: 5vw;
  padding: 0.5vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.4vw;
}

td {
  height: 5vw;
}

colgroup col:first-child {
  width: 30%;
}

colgroup col:last-child {
  width: 70%;
}
