.addVacation_content {
  font-size: 1.2vw;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.vacationForms {
    width: 85%;
    max-width: 1500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.vacationForm {
    margin-bottom : 20px;
}
.vacation_click {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .vacation_title {
     width: 85%;
      max-width: 1500px;
     text-align: left;
     margin-bottom: 20px;
 }

.addVacation_button {
    display: flex;
    gap: 10px;
}

.addVacation_button button {
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  font-size: 1.2vw;
}

.addVacation_button button:first-of-type {
  background-color: #28a745;
  color: white;
}

.addVacation_button button:last-of-type {
  background-color: #dc3545;
  color: white;
}

.addVacation_button button:hover {
  opacity: 0.8;
}

#vacationFormContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vw;
  max-width: 100%;
  overflow-x: auto;
}

.input-group {
   display: flex;
  align-items: center;
  width: 18%; /* 개별 아이템의 크기를 조정하여 한 줄에 5개씩 들어가도록 설정 */
  box-sizing: border-box;
  margin-bottom: 1vw;
}

.input-group label {
  margin-right: 0.5vw;
  font-size: 1vw;
}

.input-group input {
  flex-grow: 1;
  width: 5vw;
  padding: 0.5vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.4vw;
}

.addVacation_submit {
    text-align: center;
}

.addVacation_submit button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.vacationType_click {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vacationTypeFormContainer,
.vacationFormContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vw;
  max-width: 100%;
  overflow-x: auto;
  }