.vacationStandard_content {
  font-size: 1.2vw;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.vacationStandardForms { 
    max-width: 1200px;
    width: 1200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top : 20px;
} 
 .standard_click {
     display: flex;
      flex-direction: column;
 }
 .standard_ele1 {
     display: flex;
     flex-direction: column;
 }
  .standard_ele2 {
     margin-top :1vw;
     margin-bottom: 1vw;

  }
 .standard_ele_ele2 {
     display: flex;
     flex-direction: row;
 }
 .standard_ele3 button {
     padding: 10px 20px;
     font-size: 16px;
     border-radius : 10px;
     border: none;
     cursor: pointer;
     background-color: #B1C2DD;
 }
 
input[type=checkbox] { 
	transform : scale(1.2); 
}