<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/layout}">
     <meta charset="UTF-8">
     <th:block layout:fragment="content">
       	<link th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
       	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
	<section sec:authorize="hasAnyAuthority('USER')" th:each="member : ${memberdto}">
        <div class="left-column">
			<div class="main_item_box left-top custom-height-1 employee-info">
    <a class="main_link" th:href="@{employee/member/mypage/{no}(no=${member.member_no})}">
        <span class="main_box_title">
            내 정보
            <img th:src="@{/img/main_arrow.png}" alt="main_arrow" class="main_arrow_img" />
        </span>
    </a>
    <div class="employee-profile">
        <img th:src="@{/img/user_profile.jpg}" class="user_photo" alt="User Profile">
        <div class="employee-details">
            <span class="employee-name" th:text="${member.member_name}"></span>
            <span class="employee-position" th:text="${member.department_name + ' / ' + member.position_name}"></span>
        </div>
    </div>
    <hr class="divider">
    <h3 class="approval-title">전자결재</h3>
    <ul class="approval-status">
        <li><span>진행함</span> <span>3</span></li>
        <li><span>미결함</span> <span>0</span></li>
        <li><span>참조함</span> <span>4</span></li>
    </ul>
</div>
			<div class="main_item_box left-bottom custom-height-2">
            	<a class="main_link" th:href="@{/일정 링크}">
	         	    <span class="main_box_title">
	            		일정
	            		<img th:src="@{/img/main_arrow.png}" alt="main_arrow" class="main_arrow_img"/>
	            	</span>
	            </a>
            	<h3>일정</h3>
            </div>
        </div>
        <div class="middle-column">
            <div class="main_item_box custom-height-3">
            	<a class="main_link" th:href="@{/근태 조회 링크}">
	            	<span class="main_box_title">
	            		근태 조회
	            		<img th:src="@{/img/main_arrow.png}" alt="main_arrow" class="main_arrow_img"/>
	            	</span>
	            </a>
            	<h3>근태 조회</h3>
            </div>
            <div class="main_item_box custom-height-4">
	            <a class="main_link" th:href="@{/휴가 링크}">
		            <span class="main_box_title">
	            		휴가 현황
	            		<img th:src="@{/img/main_arrow.png}" alt="main_arrow" class="main_arrow_img"/>
	            	</span>
	            </a>
            	<h3>휴가 현황</h3>
            </div>
            <div class="main_item_box custom-height-5">
            	<a class="main_link" th:href="@{/공지사항 링크}">
	        		<span class="main_box_title">
	            		공지사항 목록
	            		<img th:src="@{/img/main_arrow.png}" alt="main_arrow" class="main_arrow_img"/>
	            	</span>
	            </a>
            	<h3>공지사항</h3>
            </div>
            <div class="main_item_box custom-height-6">
                <a class="main_link" th:href="@{/설문 링크}">
	        		<span class="main_box_title">
	            		설문 목록
	            		<img th:src="@{/img/main_arrow.png}" alt="main_arrow" class="main_arrow_img"/>
	            	</span>
	            </a>
            	<h3>설문</h3>
            </div>
        </div>
        <div class="right-column">
            <div class="right-top"> 
                <div class="main_item_box custom-height-7">
                	<a class="main_link" th:href="@{/회의실 링크}">
	                	<img th:src="@{/img/main_meeting_reservation.png}" alt="meeting reservation" class="meeting_reservation_img"/>
	                	<h3>회의실 예약</h3>
	                </a>
                </div> 
                <div class="main_item_box custom-height-8">
                	<a class="main_link" th:href="@{/주소록 링크}">
	                	<img th:src="@{/img/main_address_book.png}" alt="address_book" class="address_book_img"/>
	                	<h3>주소록</h3>
	                </a>
                </div>  
            </div>
            <div class="right-bottom">
                <div class="main_item_box custom-height-9">
                <div class="main_box_title">
            		통합 알림
            	</div>
                	<h3>통합 알림</h3>
                </div>
                <div class="main_item_box custom-height-10"> 
                	<h3>점심</h3>
                </div>
                <div class="main_item_box custom-height-11"> 
            		<h3>날씨</h3>
                </div>
            </div>
        </div>
    </section>
    <section sec:authorize="hasAnyAuthority('TOTAL_ADMIN')">
    hello
    </section>
     </th:block>
</html>