<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LINK OFFICE</title>
    <link th:href="@{/css/pwchange.css}" rel="stylesheet" type="text/css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
</head>
<body>
   <div class="login_container">
        <div class="logo_container">
            <img th:src="@{/img/linkoffice_logo.png}" alt="LinkOffice Logo" class="login_logo_img"/>
        </div>
        <form>
            <div class="input_group">
                <label for="userid">아이디(사번)</label>
                <input type="text" id="userid" name="userid" required>
            </div>
            <div class="input_group">
                <label for="registration_number">주민등록번호</label>
                <div class="registration_number">
                    <input type="text" id="registration-number-front" name="registration-number-front" maxlength="6" required>
                    <span>-</span>
                    <input type="text" id="registration-number-back" name="registration-number-back" maxlength="7" required>
                </div>
            </div>
            <div class="input_group">
                <label for="new_password">새로운 비밀번호</label>
		        <input type="password" id="new_password" name="new_password" required>
		        <img th:src="@{/img/pw_hidden.png}" id="pwHidden" class="toggle_icon"/>
		        <img th:src="@{/img/pw_show.png}" id="pwShow" class="toggle_icon"/>
   			</div>
            <div class="button_group">
                <a th:href="@{/}" class="button_link">로그인</a>
                <button type="submit">비밀번호 변경하기</button>
            </div>
        </form>
    </div>
   <script th:src="@{/js/pwchange.js}"></script>
</body>
</html>