@charset "UTF-8";

.main_container{
	font-size:14px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.editor-container {
    background-color: #f8f9fa;
    border-radius: 12px; 
    max-width: 800px; 
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px 80px 30px;
    margin-top: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    gap: 20px;
}

#approval_name{
    width: 150px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.ck.ck-editor {
    max-width: 800px;
    min-width: 800px;
}
.ck-editor__editable {
    min-height: 500px;
    max-height: 500px;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 30px;
    gap: 20px; 
}

.submit_button {
    padding: 8px 15px;
    background-color: #B3C7EE; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    font-size:14px;
    color: #000000;
}

.cancel_button {
    padding: 8px 15px;
    background-color: #C0C0C0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}