.form_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    width: auto;
    align-self: flex-start;
    margin-left: 100px;
}


.approval_form {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 30px; 
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px; 
    padding-bottom: 15px; 
    border-bottom: 1px solid #ddd;
    font-size: 18px; 
}

.form_label, .form_date {
    font-weight: bold;
    margin-right: 15px; 
}

.form_title {
    font-weight: bold;
    font-size: 20px; 
    flex-grow: 1;
}

.form_date {
    color: #666;
    font-size: 16px; 
}

.form_content {
    margin-bottom: 25px; 
    min-height: 250px; 
    border-radius: 4px;
    padding: 15px; 
    font-size: 16px; 
}

.form_value {
    white-space: pre-wrap;
    color: #333;
}

.button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px; 
}

.right_buttons {
    display: flex;
    gap: 15px; /
}

.delete_button {
    margin-left: 10px; 
    padding: 8px 15px;
    background-color: #e38a8a;
    border: none;
    border-radius: 5px;
    font-size:14px;
    cursor: pointer;
}

.edit_button {
    padding: 8px 15px;
    background-color: #B3C7EE; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    font-size:14px;
    color: #000000;
}

.list_button {
    padding: 8px 15px;
    background-color: #C0C0C0;
    border: none;
    border-radius: 5px;
    font-size:14px;
    cursor: pointer;
}

.delete_button:hover,
.edit_button:hover,
.list_button:hover {
    opacity: 0.8;
}

.table_container input,
.table_container textarea,
.table_container select {
    border: none;
    background-color: #f5f5f5; 
    cursor: not-allowed; 
    pointer-events: none; 
    color: #333; 
}

.table_container input:disabled,
.table_container textarea:disabled,
.table_container select:disabled {
    color: #333; 
}

