<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
<head>
    <meta charset="UTF-8">


</head>
<body>
<th:block layout:fragment="content">
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link th:href="@{/css/admin/vacation/addVacation.css}" rel="stylesheet" type="text/css">
    <section th:each = "member : ${memberdto}">

        <div class="addVacation_content">

            <div class ="vacation_title"> <h2>휴가 생성</h2> </div>
    <div class="vacationForms">
        <form id="vacationForm" class="vacationForm">
            <div class="vacation_click">
                <div class="vacation_click_ele">
                    <div class="vacation_ele1">
                        <h3>연차별 휴가 지정</h3>
                        <div style="text-align: center" class="addVacation_button">
                            <button type="button" onclick="addYear()"><i class="fa-solid fa-plus"></i></button>
                            <button type="button" onclick="removeYear()"><i class="fa-solid fa-minus"></i></button>
                        </div>

                    </div>
                    <div>
                        <p style="color: red; font-size: 10px;">* 입사일 기준 해당 년도 연차 갯수 지정</p>
                    </div>

                </div>

                <div class="addVacation_submit" style="text-align: center; margin-top: 20px;">
                    <button type="submit">등록</button>
                </div>
            </div>


            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" th:name="memberNo" th:id="memberNo" th:value="${member.member_no}"/>

            <div>

            </div>

            <div id="vacationFormContainer">
                <!-- 여기에 동적으로 입력폼이 추가됩니다 -->
                    <div class="input-group" th:each="vacation : ${vacationList}">
                        <label th:text="${vacation.vacation_year} + '년차 '">1년차 </label>
                        <input type="number" th:name="'vacationData[' + ${vacation.vacation_year} + ']'" th:value="${vacation.vacation_annual_leave}" min="0"/>
                    </div>
            </div>
            <!-- 분리되는 부분 -->
            <div>
                <p style="color: red; font-size: 10px;">* 1년 미만 재직자에게 월차 지급 여부</p>
            </div>

            <div>
                <div>
                    <input type="checkbox" id="lessThanOneYear" name="lessThanOneYear">
                    <label for="lessThanOneYear">1년 미만</label>
                </div>

            </div>

        </form>
        <form id="vacationTypeForm" class="vacationTypeForm">
            <div class="vacationType_click">
                <div>
                    <h3>휴가 종류 생성</h3>
                </div>
                <div style="text-align: center" class="addVacation_button">
                    <button type="button" onclick="addType()"><i class="fa-solid fa-plus"></i></button>
                    <button type="button" onclick="removeType()"><i class="fa-solid fa-minus"></i></button>
                </div>
                <div class="addVacationType_submit" style="text-align: center; margin-top: 20px;">
                    <button type="submit">등록</button>
                </div>
            </div>


            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div id="vacationTypeFormContainer" class ="vacationTypeFormContainer">
                <!-- 여기에 동적으로 입력폼이 추가됩니다 -->

            </div>

        </form>
    </div>

        </div>
    </section>
    <script th:src="@{/js/admin/vacation/addVacation.js}"></script>
</th:block>
</body>
</html>