<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
<th:block layout:fragment="content">
    <link th:href="@{/css/#}" rel="stylesheet" type="text/css">
    <section>
        <div>
            <!--
                구현 시작
                section 에는 class, id 등 디자인 수정 X
                div 부터 마음대로 구현하세요.
            -->
        </div>
    </section>
    <script th:src="@{/js/#}"></script>
</th:block>
</html>