@charset "UTF-8";

.container {
    display: flex;
    justify-content: center;
}

.main_container {
	width: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.title_button_container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

.approval_line_section{
	display: flex;
    justify-content: center;	
}
.vacation_title{
    padding-right: 70px;
    margin: auto;
    font-size: 20px;
}

.approval_line_table {
    border-collapse: collapse;
    max-width: 70%; 
    margin-left: auto; 
}

.approval_line_table th {
    background-color: #f2f2f2;
    font-weight: bold;
    width: 50px; 
    border: 1px solid #ccc;
    padding: 5px; 
    text-align: center;
    vertical-align: middle;
    font-size: 12px; 
}

.approval_line_table td {
    border: 1px solid #ccc;
    padding: 5px; 
    text-align: center;
    vertical-align: middle;
    font-size: 12px; 
}

.signature_box {
    height: 40px; 
    width: 50px;
    align-content: center;
    margin: auto;
}

.signature_box img, .signature_box .currentSignature {
    max-height: 25px;
}

.date_box {
    font-size: 8px; 
    width: 50px;
    margin: auto;
}

.approval_status {
    font-size: 12px; 
    padding: 1px 3px; 
}


.reference_box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.approval_status.approved {
    background-color: #e6f3e6;
    color: #4CAF50;
}

.approval_status {
    font-size: 13px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
}

.approved {
    background-color: #e6f3e6;
    color: #4CAF50;
}

.pending {
    background-color: #fff8e1;
    color: #FFC107;
}

.rejected {
    background-color: #ffebee;
    color: #F44336;
}

.reference_box > div {
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 10px;
}
.field{
    width: 100%;
    margin: auto;
}

#vacationapproval_title{
	font-size:20px;
}

.content_section {
    align-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px #ddd;
}

.text_field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.text_field .field {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text_field strong {
    font-size: 16px;
    color: #333;
}

.button_container {
	display: flex;
    justify-content: flex-end; 	
    gap: 20px;
    position: relative;
}

.approval_button {
	padding: 5px 10px;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: white;
}


.approval_button:hover {
	background-color: #003a82;
}

.details_section {
    position: relative;
    padding: 20px; 
}

.reject_button_container {
    position: absolute;
    right: 20px; 
}

.reject_button {
	display: inline-block;
    padding: 8px 15px;
    color:white;
    background-color: #dc3545; 
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    bottom: 5px; 
    left: 5px; 
}

.reject_button:hover {
    padding: 8px 15px;
    background-color: #dc3545; 
}

.list_button {
	  padding: 10px 20px;
	  background-color: #f8f9fa;
	  border: 1px solid #ddd;
	  border-radius: 4px;
	  color: #333333;
	  cursor: pointer;
	  transition: background-color 0.2s;
}

.list_button:hover{
	background-color: #e9ecef;
}

.vacationapproval_content {
    margin: 20px 0;
}

.table_container table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table_container th, 
.table_container td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table_container th {
    background-color: #f2f2f2;
    text-align: left;
}

.table_container input,
.table_container textarea,
.table_container select {
    border: none;
    cursor: not-allowed;
}

.table_container input:disabled,
.table_container textarea:disabled,
.table_container select:disabled {
    color: #333;
}

.file_item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.file_item strong {
    font-size: 16px;
    margin-right: 10px;
}

.file_item .file_info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file_item a {
    background-color: #e9ecef;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.file_item a:hover {
    background-color: #d6d6d6;
}

.file_item p {
    margin: 0;
    font-size: 12px;
    color: #6c757d;
}

.section_separator {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.file_item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.file_item strong {
    font-size: 16px;
    margin-right: 10px; 
}

.file_item .file_info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file_item a {
    background-color: #e9ecef;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.file_item a:hover {
    background-color: #d6d6d6;
}

.file_item p {
    margin: 0;
    font-size: 12px;
    color: #6c757d;
}


#vacationapproval_flow_reject_reason {
    text-align: center; 
    font-size: 20px;
}

#vacationapproval_flow_reject_reason div {
    margin-top: 10px;
    font-size: 15px;
    color: #333; 
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;  
    height: 380px;  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal_content h2 {
    margin-top: 0;  
    margin-bottom: 20px;
    text-align: center;
}

.reject_reason_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.modal_button {
    display: flex;
    justify-content: center;
    width: 100%;
}

#confirm_reject_button{
	margin-left: 10px;
   	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: #0056b3;
	color:white;
}

#reject_reason {
    width: 400px;
    height: 200px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
    resize: none; 
}

#reject_reason:focus {
    outline: none;
    border-color: #B1C2DD;
}

.reapproval_button{
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.reapproval_button:hover {
    opacity: 0.8;
}

.recancel_button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    color: #ff0000;
}

.recancel_button:hover {
 	opacity: 0.8;
}

.signature_box {
    position: relative; 
}

.close-button {
    position: absolute; 
	top: -5px;
    right: -8px;
    background: none; 
    border: none;
    color: red;
    font-weight: bold; 
    cursor: pointer; 
}

.reference_box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.reference_box > div {
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
}

#vacationapproval_cancel_reason {
    text-align: center; 
    font-size: 20px;
}

#vacationapproval_cancel_reason div {
    margin-top: 10px;
    font-size: 15px;
    color: #333; 
}

#vacationapproval_flow_reject_reason {
    text-align: center; 
    font-size: 20px;
}

#vacationapproval_flow_reject_reason div {
    margin-top: 10px;
    font-size: 15px;
    color: #333; 
}

#reject{
	color: #ff8080;
	font-size: 17px;
}


.preview_button {
    padding: 8px 15px;
    background-color: #04AA6D; 
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 100px;
    color:white;
}

.preview_button:hover {
    opacity: 0.8;
}