@charset "UTF-8";

#sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f0f0f0;
}
#calendar {
    flex-grow: 1;
    padding: 20px;
}
.checkbox-group {
    margin-bottom: 15px;
}

/* fullcalendar */ 
.fc-day-sun .fc-col-header-cell-cushion {
	color: red;
}
.fc-day-sat .fc-col-header-cell-cushion {
	color: blue;
}
	 
.fc-daygrid-day.fc-day-sun .fc-daygrid-day-number{ 		
	color: red;
}
.fc-daygrid-day.fc-day-sat .fc-daygrid-day-number{		
	color: blue;
}

.fc .fc-button.fc-button-primary {
    background-color: transparent; 
    border:none;
    color: #808080;
}

.fc .fc-button.fc-button-primary:hover {
    background-color: transparent; 
    border:none;
    color: #9CAFC7;
}
 
.fc-prev-button {
    background-color: transparent; 
    border:none;
    color: #808080;
}

.fc-prev-button:hover {
    background-color: transparent; 
    border:none;
    color: #9CAFC7;
}
 
.fc-next-button {
    background-color: transparent; 
    border:none;
    color: #808080;
}
#calendar {
	margin:auto;
} 
.fc-daygrid-day {
    height: 150px;  
}  
.google-holiday {
	text-align: right; 
}

.fc {
    width: 1250px; 
    height: 850px;  
}

.fc-next-button:hover {
    background-color: transparent; 
    border:none;
    color: #9CAFC7;
}


.fc .fc-button.fc-button-primary.fc-button-active {
    background-color: transparent; 
    border:none;
    color: black;
    font-weight: 550;
}

/* 등록 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0;
    justify-content: center;
    align-items: center;
}

.modal-title {
    margin-bottom: 40px;	
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_in_btn {
	margin-left: 300px;
} 

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 0 0 150px;
    text-align: left;
    padding-right: 20px;
}

.form-group input,
.form-group textarea,
.form-group select,
.form-group button {  
    flex: 1;  
    padding: 5px; 
    border: 1px solid #ccc;  
    border-radius: 4px;  
    font-size: 14px;  
} 
input[type=checkbox] {
	zoom: 1.3;
} 

.plus_detail_option {
	margin-left: 82px;
	flex: 1;  
    padding: 5px; 
    border: 1px solid #ccc;  
    border-radius: 4px;  
    font-size: 14px; 
    width : 418px;
}

.plus_detail_option_2 {
	margin-left: 67px;
	flex: 1;  
    padding: 5px; 
    border: 1px solid #ccc;  
    border-radius: 4px;  
    font-size: 14px; 
    width : 418px;
}

textarea {
    resize: none;
    height: 100px;
}

.create_hr {
	margin : -10px 0 40px 0;
}

.event_modal-content {
	z-index:100; 
	position: fixed;
    background-color: #ffffff;
    margin: 300px 650px;
    padding: 15px 35px; 
    width: 250px;
    height:300px;
    max-width: 300px;
    border-radius: 8px;
    border:none;
    max-height: 400px;
    overflow-y: auto;
    box-shadow:  0 5px 10px rgba(0,0,0,0.4);
}

.participate_modal {
    display: none;  
    position: fixed;
    z-index: 9999;
    right : 20px;
    top: 95px;
    width: 450px;
    height: 400px; 
    padding: 0;   
    justify-content: center;
    align-items: center;
}

#participate_confirmButton {
    background-color: #B1C2DD;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-top: 40px;    
} 

.participate_modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    max-height: 60vh;  
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;  
} 

.button-container {
    display: flex;
    justify-content: flex-end;  
    margin-top: 20px;
}

.participate_modal-header {
    display: flex;  
    justify-content: space-between;  
    align-items: center; 
    margin-bottom: 20px;
}

.participate_organizationchart_title {
    font-size: 18px;
    font-weight: bold;
}

.chart_close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.chart_close:hover {
    color: #000;
}
 
.remove-member {
    margin-left: 5px;
    cursor: pointer;
    color: red;
}

.remove-member:hover {
    font-weight: bold;
}

.permission_pick_list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.permission-item {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.permission-item:last-child {
    border-bottom: none;
}
 
/* 조직도 모달 내부 목록 */
 #selected-members {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  
}

.organization_search {
	margin-bottom: 15px;
	border: 1px solid #ccc;
    border-radius: 8px;
    width : 94.5%;
    padding: 10px;
    background-color: #f9f9f9;
    min-height: 10px;
}

.selected-member {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
}

.selected-member span {
    margin-right: 7px;
   	padding-left :7px;
}

.remove-member {
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 22px;
    line-height: 1; 
}

.remove-member:hover {
    font-weight: bold;
    color: #cc0000;
}  
 
.jstree-closed > .jstree-icon::before {
    content: '';  
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url('/img/org_plus.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
 
.jstree-open > .jstree-icon::before {
    content: ''; /* 기본 아이콘 제거 */
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url('/img/org_minus.png');
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
}  
 
.selected-participants {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: #e0e0e0;
    border-radius: 20px; 
    margin-bottom: 5px;
    font-size: 14px;
    width : 100px;
    color: #333; 
}

.selected-participants span {
    margin-right: 7px;
   	padding-left :7px;
}

#allDay, #department_schedule {
	margin-left : -310px;
}

.reserve-button { 
    width: 100%; 
    max-width: 400px;  
    padding: 15px;  
    font-size: 16px; 
    color: black; 
    background-color: #B1C2DD;  
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.reserve-button:hover {
    background-color: #9CAFC7;  
} 

textarea{
	resize: none;
}

#create_employee_schedule { 
    background-color: #fefefe;
    margin: 70px auto;
    padding: 20px 40px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px;
    border-radius: 8px;
    max-height: 90%;
    overflow-y: auto;
}

