@charset "UTF-8";

.color_box {
	width : 20px;
	height : 20px;
	border: 1px solid black; 
	margin-left : 45px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0;   
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.modal-title {
	margin-bottom: 40px;	
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form button {
    align-self: flex-end;
}

.modal-content form label {
    margin-bottom: 5px;  
}

.create_close, .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top : 15px;
}

.create_close:hover, .close:hover {
    color: #000;
}

.list {
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 40px;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;  
    gap: 20px;  
    padding : 20px 60px;
}

.scheduleCategory_list_box {
    width: 50%; 
    margin-right: 20px;
}

.details {
    width: 50%; 
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
}

.list-header, .details-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top : -15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e0e0e0;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
	background-color: #003a82;
}

.scheduleCategory_Lists {
    list-style: none;
    padding: 0;
}

.scheduleCategory_Lists li {
    margin-bottom: 10px;
}

.details-content p {
    margin: 10px 0;
}  

.container a:hover, .details a:hover {
    color: #163e65;
} 

.info_btn {
	margin-top : 70px;
	text-align: right;
}

.info_btn button {
	width : 70px;
	margin : 5px;
}

#deleteButton {
	background-color: #dc3545;
}

#deleteButton:hover {
	background-color: #c82333;
}

.details-content p {
    display: flex; 
    gap: 70px; 
    align-items: center;  
    margin-bottom: 30px;  
}
 

input[type=checkbox] { 
	zoom: 1.5; 
} 

.th_text2 {
    margin-left: -55px; 
}

.th_text3 {
    margin-left: -2px; 
}
  
li.selected a {
    background-color: #e9ecef;
    color: #163e65;
    text-decoration: none;
    font-weight : 400;  
    font-size: 1rem;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.scheduleCategory_Lists a {
    text-decoration: none;
    font-weight : 400;
    color: #2994da;
    font-size: 1rem;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.modal-content .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: flex-start;
}

.form-group2 {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    justify-content: flex-start;
}

.modal-content label {
    width: 150px;  
    text-align: left;
    font-weight: bold;
}

.modal-content input[type="text"] { 
    width: 200px;  
    height : 30px;
    padding-left : 10px;
}

.modal-content input[type="color"] {
	height : 35px;
}

.onlyadmin_info, .categoryname_info {
	font-size: 12px;
	color:red;
	margin-top : -20px;
	margin-left: 4px;
}

#edit_colorCode, #colorCode {
	margin-left: 15px;
}

hr {
	margin : -10px 0 40px 0;
}
 