<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
    <th:block layout:fragment="content">
        <link th:href="@{/css/employee/approval/approval_history_detail.css}" rel="stylesheet" type="text/css">
        <section>
            <h1>결재 내역 상세 조회</h1>
            <div class="container">
            	<input type="hidden" id="csrf_token" th:value="${_csrf.token}" name="_csrf" />
            	<input type="hidden" id="vacationapproval_no" th:value="${vacationapprovaldto.vacation_approval_no}" >
                <div class="main_container">
                    <div class="details_section">
                        <div class="text_field">
						 <div class="field title_row">
						        <strong>제목</strong>
						        <div id="vacationapproval_title" th:text="${vacationapprovaldto.vacation_approval_title}"></div>
						        <div class="reject_button_container">
						            <button type="button" class="reject_button" th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_status == 1 and flow.member_no == currentUserMemberNo}"
						                    onclick="rejectRequest()">반려</button>
						        </div>
						    </div>
                            <div class="field">
                                <strong>종류</strong>
                                <div id="vacationapproval_type_name" th:text="${vacationapprovaldto.vacation_type_name}"></div>
                            </div>
                            <div class="field">
                                <strong>기간</strong>
                                <div id="vacationapproval_start_date" th:text="${vacationapprovaldto.vacation_approval_start_date}"></div>
                                <span> ~ </span>
                                <div id="vacationapproval_end_date" th:text="${vacationapprovaldto.vacation_approval_end_date}"></div>
                                <div>(</div>
                                <div id="vacationapproval_total_days" th:text="${vacationapprovaldto.vacation_approval_total_days}"></div>
                                <div>일)</div>
                            </div>
                        </div>
                        
                        
						<div class="approval_line_section">
						    <table class="approval_line_table">
						        <thead>
						            <tr>
						            
						                <th>
						                    기안자 (<span th:text="${vacationapprovaldto.member_name}"></span>)
						                </th>
						                <th th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_role == 1}">
						                    합의자 (<span th:text="${flow.member_name}"></span>)
						                </th>
						                <th th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_role == 2}">
						                    결재자 (<span th:text="${flow.member_name}"></span>)
						                </th>
						            </tr>
						        </thead>
						        <tbody>
									<tr>
									    <td>
									        <div class="signature_box">
									            <img th:if="${vacationapprovaldto.vacation_approval_status != 3 and vacationapprovaldto.digitalname != null}" 
									                 th:src="@{'/linkOfficeImg/member/digital/' + ${vacationapprovaldto.digitalname}}" 
									                 alt="현재 서명" id="currentSignature">
									            <span th:if="${vacationapprovaldto.vacation_approval_status != 3 and vacationapprovaldto.digitalname == null}" 
									                  id="currentSignature" th:text="${vacationapprovaldto.member_name}"></span>
									            <span th:if="${vacationapprovaldto.vacation_approval_status == 3}" id="approvalcancel">기안취소</span>
									        </div>
									    </td>
										<td th:each="flow, stat : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_role == 2 || flow.vacation_approval_flow_role == 1}">
										    <div class="signature_box">
										        <button th:if="${flow.vacation_approval_flow_status == 1 and flow.member_no == currentUserMemberNo}" 
										         type="button" class="approval_button" 
										         onclick="approveRequest()">승인</button>
										        <button th:if="${flow.vacation_approval_flow_status == 2 
										                        and vacationapprovaldto.vacation_approval_status == 0 
										                        and flow.member_no == currentUserMemberNo 
										                        and stat.index + 1 < vacationapprovaldto.flows.size() 
										                        and vacationapprovaldto.flows[stat.index + 1].vacation_approval_flow_status == 1}" 
										                 type="button" class="cancel_button" 
										                onclick="cancelApproval()">X</button>
										        <img th:if="${flow.vacation_approval_flow_status == 2 and flow.digital_name != null}" 
										             th:src="@{'/linkOfficeImg/member/digital/' + ${flow.digital_name}}" 
										             alt="현재 서명" class="currentSignature">
										        <span th:if="${flow.vacation_approval_flow_status == 2 and flow.digital_name == null}" 
										              class="currentSignature" th:text="${flow.member_name}"></span>
										        <span th:if="${flow.vacation_approval_flow_status == 3}" 
										              class="currentSignature" id="reject" th:text="반려"></span>
										    </div>
										</td>
									</tr>
						            <tr>
						                <td>
						                    <div class="date_box" 
						                         th:text="${vacationapprovaldto.format_vacation_approval_create_date}"></div>
						                </td>
						                <td th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_role == 2 || flow.vacation_approval_flow_role == 1}">
						                    <div class="date_box" th:if="${flow.vacation_approval_flow_complete_date != null}"
						                         th:text="${flow.format_vacation_approval_flow_complete_date}"></div>
						                </td>
						            </tr>
						        </tbody>
						    </table>
						
						    <div class="reference_section">
						        <strong>참조자</strong>
						        <div class="reference_box">
						            <div th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_role == 0}"
						                 th:text="${flow.member_name}"></div>
						        </div>
						    </div>
						</div>
						
						<div th:if="${vacationapprovaldto.vacation_approval_cancel_reason != null}" id="vacationapproval_cancel_reason">
						    <strong>기안 취소 사유</strong>
						    <div th:text="${vacationapprovaldto.vacation_approval_cancel_reason}"></div>
						</div>

						<div th:each="flow : ${vacationapprovaldto.flows}" th:if="${flow.vacation_approval_flow_reject_reason != null}" id="vacationapproval_flow_reject_reason">
							 <strong>반려 취소 사유</strong>
							<div th:text="${flow.vacation_approval_flow_reject_reason}"></div>
						</div>	
											
                        <hr class="section_separator"> 
                    </div>

                    <div class="content_section">
                        <div class="vacationapproval_content">
                            <div class="table_container" th:utext="${vacationapprovaldto.vacation_approval_content}"></div>
                        </div>
                        <hr class="section_separator"> 
                        <div class="field">
                            <div th:if="${vacationapprovaldto != null and !#lists.isEmpty(vacationapprovaldto.files)}">
                                <div th:each="file : ${vacationapprovaldto.files}" class="file_item">
                                    <strong> 등록 파일 </strong>
                                    <div th:if="${file.vacation_approval_file_ori_name != null and !file.vacation_approval_file_ori_name.isEmpty() and 
                                                  (file.vacation_approval_file_ori_name.endsWith('.pdf') or 
                                                   file.vacation_approval_file_ori_name.endsWith('.xls') or 
                                                   file.vacation_approval_file_ori_name.endsWith('.xlsx') or
                                                   file.vacation_approval_file_ori_name.endsWith('.png') or 
                                                   file.vacation_approval_file_ori_name.endsWith('.jpg') or 
                                                   file.vacation_approval_file_ori_name.endsWith('.jpeg'))}" class="file_info">
                                        <a th:href="@{'/linkOfficeImg/approval/vacation/' + ${file.vacation_approval_file_new_name}}" 
                                           th:text="${file.vacation_approval_file_ori_name}"></a>
                                        <p th:text="${'파일 크기: ' + file.vacation_approval_file_size + ' bytes'}"></p>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${vacationapprovaldto == null or #lists.isEmpty(vacationapprovaldto.files)}">
                                <p>등록된 파일이 없습니다.</p>
                            </div>
                        </div>
                    </div>

                    <div class="button_container">
                        <button type="button" class="list_button" onclick="location.href='/employee/approval/history'">목록</button>
                    </div>
                </div>
            </div>
        </section>

        <script th:src="@{/js/employee/approval/approval_history_detail.js}"></script>
    </th:block>
</html>
