@charset "UTF-8";

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 40px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    max-height: 90%;
    overflow-y: auto;
}

.modal-title {
    margin-bottom: 40px;	
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="file"] {
	border : none;
}
.modal_in_btn {
	margin-left: 370px;
} 

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 0 0 150px;
    text-align: left;
    padding-right: 20px;
}

.form-group input,
.form-group textarea {
    flex: 1;
    padding: 5px; 
}

textarea {
    resize: none;
    height: 100px;
}

.time-range {
    display: flex;
    align-items: center;
}

.time-range input {
    width: calc(50% - 10px); 
}

.time-range span {
    margin: 0 10px;
}

.time-set-msg {
    color: red;
    font-weight: 500;
    font-size: 13px;
    margin: -15px 0 20px 0;
}

.file-input-wrapper {
    margin-bottom: 10px;
}

#imagePreview, #modal-image-preview {
    max-width: 100%;
    max-height: 150px;
    display: none;
    margin-top: 10px;
} 

button {
    background-color: #B1C2DD;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9CAFC7;
}
 

#searchMeetingRoom {
    width: 250px;
    padding: 0 20px;
} 

.container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;  
    gap: 20px;  
    padding: 20px 60px; 
}

.member-section {
    width: 100%; 
    padding: 30px 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
    flex-wrap: wrap; 
    gap: 10px; 
}

.search-bar {
    width: 250px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
}  
.delete_btn {
    width: 110px;
    padding: 8px 16px;
    background-color: #EEB3B3;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete_btn:disabled {
    background-color: #d3d3d3;  
    color: #a9a9a9; 
    cursor: not-allowed;
}

.meetingRoom_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
} 

.meetingRoom_table th, .meetingRoom_table td {
    padding: 18px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.meetingRoom_table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-size: 17px;
}

.meetingRoom_table tr:last-child td {
    border-bottom: none;
}

.meetingRoom_table tbody tr {
    transition: background-color 0.3s;
}

.meetingRoom_table tbody tr:hover {
    background-color: #f5f5f5;
} 
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #e9ecef;
}

.pagination button.active {
    background-color: #B1C2DD;
    color: white;
    border-color: #B1C2DD;
}
.meeting_info_text {
	color : red;
	font-size:16px;
	margin-bottom: 15px;
}
.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
    flex-wrap: wrap; 
    gap: 10px; 
}

.left-buttons {
    display: flex;
    gap: 10px;  
    flex-grow: 1; 
}

#deleteMeetingButton {
	width : 110px;
    padding: 10px 20px;
    background-color: #EEB3B3;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#deleteMeetingButton:hover {
    background-color: #9CAFC7;
}

#deleteMeetingButton:disabled {
    background-color: #d3d3d3;  
    color: #a9a9a9; 
    cursor: not-allowed;
} 


#searchMeetingRoom {
	width : 250px;
	padding : 13px;
}

#addMeetingButton {
	width : 110px;
    padding: 8px 16px;
    background-color: #B1C2DD;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; 
    min-width: 100px;  
    max-width: 180px; 
    flex-shrink: 0;  
    font-size : 13px;
}

#addMeetingButton:hover {
    background-color: #9CAFC7;
}
.sort-buttons {
    text-align: right;  
    margin-bottom: 15px;
} 
input[type=checkbox] {
	zoom: 1.3;
} 
 