@charset "UTF-8";

.modal {
    display: none;  
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0;   
    justify-content: center;
    align-items: center;
}

#confirmButton {
    background-color: #B1C2DD;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 40px;    
} 

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    max-height: 80vh;  
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;  
} 

.button-container {
    display: flex;
    justify-content: flex-end;  
    margin-top: 20px;
}

.modal-header {
    display: flex;  
    justify-content: space-between;  
    align-items: center; 
    margin-bottom: 20px;
}

.organizationchart_title {
    font-size: 18px;
    font-weight: bold;
}

.chart_close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.chart_close:hover {
    color: #000;
}
 
.remove-member {
    margin-left: 5px;
    cursor: pointer;
    color: red;
}

.remove-member:hover {
    font-weight: bold;
}

.permission_pick_list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.permission-item {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.permission-item:last-child {
    border-bottom: none;
}
 
/* 조직도 모달 내부 목록 */
 #selected-members {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  
}

.organization_search {
	margin-bottom: 15px;
	border: 1px solid #ccc;
    border-radius: 8px;
    width : 94.5%;
    padding: 10px;
    background-color: #f9f9f9;
    min-height: 10px;
}

.selected-member {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
}

.selected-member span {
    margin-right: 7px;
   	padding-left :7px;
}

.remove-member {
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 22px;
    line-height: 1; 
}

.remove-member:hover {
    font-weight: bold;
    color: #cc0000;
}  
 
.jstree-closed > .jstree-icon::before {
    content: '';  
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url('/img/org_plus.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
 
.jstree-open > .jstree-icon::before {
    content: ''; /* 기본 아이콘 제거 */
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url('/img/org_minus.png');
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
} 

/* ------------------------------ */
/* 조직도 모달 관련 공통 css입니다. 상단 절대 수정 금지 */

.col-md-6{
	width: 40%;

}

.row{
	display:flex;
}

.org-chart-container {
    width: 48%;
    display: flex;
    flex-direction: column;

}

.member-lists-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-left:50px;
}

.member-list {
    margin-bottom: 20px;
}

.list-controls {
    display: flex;
    align-items: center;
}

.member-box {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0 10px;
    padding: 5px;
    overflow-y: auto;
}

.move-to-approver,.move-to-reference,.move-to-reviewer, .move-from-approver,  .move-from-reference, .move-from-reviewer{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

#organization-chart {
    border: 1px solid #ccc;
    height: calc(100% - 50px);
    overflow-y: auto;
}

   .selected-member.selected {
        background-color: #e0e0e0;
    }

    .selected-member {
        margin: 2px 0;
        padding: 2px;
        cursor: pointer;
    }

.modal_btn{
	float:right;
}
    