.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
}
.content-wrapper {
    display: flex;
    gap: 30px;
}
.list, .details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 40px;
    flex: 1;
}
.list-header, .details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top : -15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e0e0e0;
}
.list-header h2, .details-header h2 {
    margin: 0;
}

.position_comment {
	margin-bottom: 20px;	
}

h2 {
    color: #2c3e50;
}

button {
	background-color: #0056b3;
	color: white;
	border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #003a82;
}
.position_ul {
    list-style-type: none;
    padding: 0;
}
.position_li {
    margin-bottom: 20px; 
}
.container a, .details a {
    color: #2994da;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    font-style: bold;
    padding-left: 10px; 
}

.container a:hover, .details a:hover {
    color: #163e65;
} 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: 11% auto;
    padding: 30px 40px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.modal-title {
	margin-bottom: 40px;	
}

.modal_btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top : 10px;  
} 
.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form button {
    align-self: flex-end;  
}
 
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top : 15px;
}
.close:hover {
    color: #000;
} 
form input[type="text"], form select {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ddd;
    border-radius: 4px;
} 
#deleteButton {
	background-color: #dc3545;
}

#deleteButton:hover {
	background-color: #c82333;
}

.details-actions {
	margin-top : 30px;
    text-align: right;
}

.details-content {
	margin-top : 20px; 
}

p {
	margin-bottom: 25px;
}

.th_text1 {
	margin-left : 92px;
}

.th_text2 {
	margin-left : 60px;
} 
 
#positionName:focus{
    outline: none;
    border-color: #B1C2DD;
}
 
#positionHigh:focus{
    outline: none;
    border-color: #B1C2DD;
}

input:focus {
    outline: none;
    border-color: #B1C2DD;
}

input { 
    border: 1px solid #ddd;
    border-radius: 6px; 
    transition: border-color 0.3s;
} 

.selected {
    background-color: #e9ecef;
    color: #163e65;
    text-decoration: none; 
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

hr {
	margin : -10px 0 40px 0;
}

.modal-content .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: flex-start;
}
 
.modal-content label {
    width: 200px;  
    text-align: left;
    font-weight: bold;
}

form input[type="text"], form select { 
    padding-left: 10px;
} 
